<html>
 <head>
  <title>
   Basic Legal Citation: § 2-500 (2015)
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
   <link href="citation.css" rel="stylesheet">
   </link>
  </meta>
 </head>
 <body bgcolor="#FFFFFF" class="Normal">
  <h3 class="ebook-subsection Section">
   § 2-500.
   <a name="2-500">
   </a>
   How to Cite Arbitration Decisions
   <sup>
    <font size="-1">
     [
     <a href="7-300.htm#7-300_2-500" target="_blank">
      BB
     </a>
     |
     <a href="7-400.htm#7-400_2-500" target="_blank">
      ALWD
     </a>
     ]
    </font>
   </sup>
  </h3>
  <p class="iframe">
   <a name="2-500_frame_1">
   </a>
   <div class="ignore-on-convert" style="text-align: center;">
    <span class="Examplewindow">
     § 
  2-500 Examples Window
    </span>
   </div>
   <br>
    <div class="ignore-on-convert" style="text-align: center;">
     <div class="ExampleBox" name="2-500_frame_1">
      <ul>
       <li class="Example">
        <citation type="arbitration decision">
        United States - Tax Treatment for "Foreign Sales Corporations," 
    World Trade Organization No. 108 (Aug. 30, 2002) (Falconer, Chambovey &amp; 
    Seung Wha Chang, Arbs.).
        </citation>
       </li>
      </ul>
     </div>
    </div>
    <ul class="text-level example-ul">
     <span class="principle">
      <a name="2-500_1">
      </a>
      Principle 1:
     </span>
     Citations to arbitration decisions or awards take the same form as court cases 
  if the adversarial parties are named.
     <span class="ITALICSORUNDERLINE">
      See
     </span>
     <a href="2-200.htm#2-210" target="_self">
      § 2-210
     </a>
     .
    </ul>
    
    <ul class="text-level example-ul">
     <span class="principle">
      <a name="2-500_2">
      </a>
      Principle 2:
     </span>
     Citations to arbitration decisions or awards take the same form as administrative 
  adjudications if the adversarial parties are not named
     <span class="example_icon" ng-controller="dynamicExamplesCtrl">
      <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
       «e.g.»
      </button>
      <modal visible="showModal">
       <ul>
        <li class="Example">
          <citation type="arbitration decision">
         <span class="highlight">
          United States - Tax Treatment for 
    "Foreign Sales Corporations," World Trade Organization No. 108 (Aug. 
    30, 2002)
         </span>
         (Falconer, Chambovey &amp; Seung Wha Chang, Arbs.).
          </citation>
        </li>
       </ul>
      </modal>
     </span>
     .
     <span class="ITALICSORUNDERLINE">
      See
     </span>
     <a href="2-400.htm#2-450" target="_self">
      § 
  2-450
     </a>
     .
    </ul>
    
    <ul class="text-level example-ul">
     <span class="principle">
      <a name="2-500_3">
      </a>
      Principle 3:
     </span>
     In either case the citation should include one additional information item  
  the arbitrator's last name  in parentheses at the end of the citation
     <span class="example_icon" ng-controller="dynamicExamplesCtrl">
      <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
       «e.g.»
      </button>
      <modal visible="showModal">
       <ul>
        <li class="Example">
          <citation type="arbitration decision">
         United States - Tax Treatment for "Foreign Sales Corporations," 
    World Trade Organization No. 108 (Aug. 30, 2002)
         <span class="highlight">
          (Falconer, 
    Chambovey &amp; Seung Wha Chang, Arbs.)
         </span>
         .
       </citation>
        </li>
       </ul>
      </modal>
     </span>
     .
    </ul>
    <p class="Text-Level1">
    </p>
   </br>
  </p>
 </body>
</html>
