<html>
 <head>
  <title>
   Basic Legal Citation: § 2-600 (2015)
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
   </link>
  </meta>
 </head>
 <body bgcolor="#FFFFFF" class="Normal">
  <h3 class="ebook-subsection Section">
   § 2-600.
   <a name="2-600">
   </a>
   How to Cite Court Rules
   <sup>
    <font size="-1">
     [
     <a href="7-300.html#7-300_2-600" target="_blank">
      BB
     </a>
     |
     <a href="7-400.html#7-400_2-600" target="_blank">
      ALWD
     </a>
     ]
    </font>
   </sup>
  </h3>
  <p class="iframe">
   <a name="2-600_frame_1">
   </a>
   <div class="ignore-on-convert" style="text-align: center;">
    <span class="Examplewindow">
     § 
  2-600 Examples Window
    </span>
   </div>
   <br>
    <div class="ignore-on-convert" style="text-align: center;">
     <div class="ExampleBox" name="2-600_frame_1">
      <ul>
       <li class="Example">
        <citation type="court rule">
        Fed. R. Civ. P. 12(b)(6).
       </citation>
     </li>
       <li class="Example">
        <citation type="court rule">
        Fed. R. Crim. P. 7(b).
       </citation>
     </li>
       <li class="Example">
        <citation type="court rule">
        Haw. Fam. Ct. R. 106.
       </citation>
     </li>
       <li class="Example">
        <citation type="court rule">
        N.J. Ct. R. 3:8-3.
       </citation>
     </li>
      </ul>
     </div>
    </div>
    
    <ul class="text-level1 example-ul">
     <span class="principle">
      Principle:
     </span>
     Rules of evidence 
  or procedure are cited by name of the set of rules (beginning with the jurisdiction)
     <span class="example_icon" ng-controller="dynamicExamplesCtrl">
      <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
       «e.g.»
      </button>
      <modal visible="showModal">
       <ul>
        <li class="Example">
          <citation type="court rule">
         <span class="highlight">
          Fed. R. Civ. P.
         </span>
         12(b)(6).
        </citation>
      </li>
        <li class="Example">
          <citation type="court rule">
         <span class="highlight">
          Fed. R. Crim. P.
         </span>
         7(b).
        </citation>
      </li>
        <li class="Example">
          <citation type="court rule">
         <span class="highlight">
          Haw. Fam. Ct. R.
         </span>
         106.
        </citation>
      </li>
        <li class="Example">
          <citation type="court rule">
         <span class="highlight">
          N.J. Ct. R.
         </span>
         3:8-3.
        </citation>
      </li>
       </ul>
      </modal>
     </span>
     and the rule number
     <span class="example_icon" ng-controller="dynamicExamplesCtrl">
      <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
       «e.g.»
      </button>
      <modal visible="showModal">
       <ul>
        <li class="Example">
          <citation type="court rule">
         Fed. R. Civ. P.
         <span class="highlight">
          12(b)(6)
         </span>
         .
        </citation>
      </li>
        <li class="Example">
          <citation type="court rule">
         Fed. R. Crim. P.
         <span class="highlight">
          7(b)
         </span>
         .
        </citation>
      </li>
        <li class="Example">
          <citation type="court rule">
         Haw. Fam. Ct. R.
         <span class="highlight">
          106
         </span>
         .
        </citation>
      </li>
        <li class="Example">
          <citation type="court rule">
         N.J. Ct. R.
         <span class="highlight">
          3:8-3
         </span>
         .
        </citation>
      </li>
       </ul>
      </modal>
     </span>
     . 
  The name is abbreviated. According to
     <span class="ITALICSORUNDERLINE">
      The 
  Bluebook,
     </span>
     the
     <span class="ITALICSORUNDERLINE">
      ALWD 
  Guide to Legal Citation
     </span>
     , and widespread practice, no date need be included so 
  long as the citation's reference is to the rule currently in effect.
    </ul>
   
   </br>
  </p>
 </body>
</html>
