<html>
 <head>
  <title>
   Basic Legal Citation: § 2-100 (2015)
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
   </link>
  </meta>
 </head>
 <body bgcolor="#FFFFFF" class="Normal">
  <h2 class="Section">
   § 2-000.
   <a name="2-000">
   </a>
   HOW TO CITE ...
  </h2>
  <h3 class="ebook-subsection Section">
   § 2-100.
   <a name="2-100">
   </a>
   How to Cite Electronic Sources
  </h3>
  <p class="text-level1">
   While the principal citation reference works still treat 
  the citation of electronically accessed sources as though they were exceptional 
  cases, increasingly online sources, disc, and e-book publications constitute 
  not only print alternatives, but preferred distribution channels. This is true 
  for judicial opinions, statutes, regulations, journal articles, and government 
  reports of many kinds. Not only are many legal materials now available in paired 
  print and electronic editions put out by a single publisher, but sources have 
  proliferated. Today, it is far less likely than it was only a few years ago 
  that the person writing a legal document and that document's readers will be 
  working from exactly the same source in the same format.
  </p>
  <p class="text-level1">
   This shift makes it important that, wherever possible, a 
  citation furnish sufficient information about the cited material to enable a 
  reader to pursue the reference without regard to format or immediate source. 
  With the most frequently cited materials  cases, constitutions, statutes, 
  regulations, and recent journal articles  this is typically not a challenge 
  since most legal information distributors, whether commercial, public, or nonprofit, 
  endeavor to furnish all the data necessary for source- and medium-independent 
  citation.
  </p>
  <p class="text-level1">
   So long as you are able to furnish all the citation information 
  called for by
   <a href="2-200.html" target="_self">
    § 2-200
   </a>
   , there is 
  no need to indicate whether you relied on any one of numerous online sources, 
  an e-book or a disc instead of one of the several print editions for the text 
  of a U.S. Supreme Court decision. Similarly, your citations to provisions of 
  the U.S. Code or a comparable compilation of state statutes need not indicate 
  whether you accessed them in print or from an electronic source, nor need you 
  indicate that you accessed an article in a widely distributed law journal on 
  LexisNexis, Westlaw, HeinOnline or some the journal's own Internet site.
  </p>
  <p class="text-level1">
   Citations making specific reference to an electronic source 
  are necessary only when the cited material is not widely available from multiple 
  sources and when identifying a specific electronic source is likely significantly to 
  aid readers' access to it.
  </p>
  <p class="text-level1">
   The relevant citation principles follow; section
   <a href="3-100.html" target="_self">
    3-100
   </a>
   provides basic examples.
  </p>
  <h4 class="ebook-subsection Subsection">
   § 2-110.
   <a name="2-110">
   </a>
   Electronic Sources  
  Core Elements
   <sup>
    <font size="-1">
     [
     <a href="7-300.html#7-300_2-110" target="_blank">
      BB
     </a>
     |
     <a href="7-400.html#7-400_2-110" target="_blank">
      ALWD
     </a>
     ]
    </font>
   </sup>
  </h4>
  <p class="iframe">
   <a name="2-100_frame_1">
   </a>
   <div style="text-align: center;" ignore-on-convert="">
    <span class="Examplewindow">
     § 
  2-110(1) Examples Window
    </span>
   </div>
   </p>
   <br>
    <div style="text-align: center;" ignore-on-convert="">
     <div class="ExampleBox" name="2-100_frame_1">
      <ul>
       <li class="Example">
        <citation type="electronic">
        Steve Kenney &amp; John Borking,
        <span class="ITALICSORUNDERLINE">
         The 
    Value of Privacy Engineering
        </span>
        , 2002(1) J. Info. L. &amp; Tech., http://www2.warwick.ac.uk/fac/soc/law/elj/jilt/2002_1/kenny.
        </citation>
       </li>
       <li class="Example">
        <citation type="electronic">
        American Bar Association, Section on Legal Education and 
    Admissions to the Bar,
        <span class="ITALICSORUNDERLINE">
         Statistics
        </span>
        , http://www.americanbar.org/groups/legal_education/resources/statistics.html 
  (last visited Aug. 31, 2015).
        </citation>
       </li>
       <li class="Example">
        <citation type="electronic">
          World Bank,
        <span class="ITALICSORUNDERLINE">
         Old Age Security: 
    Pension Reform in China
        </span>
        2 (1997),
        <span class="ITALICSORUNDERLINE">
         available 
    at
        </span>
        http://www-wds.worldbank.org/servlet/WDS_IBank_Servlet?pcont=details&amp;eid;=000178830_98101912211149.
      </citation>
       </li>
      </ul>
     </div>
    </div>
    <p class="text-level1">
     <span class="principle">
      <a name="2-110_1">
      </a>
      Principle 1:
     </span>
     Cite to material as it is denominated and organized in "print" unless 
  much better access is available electronically. Even where an electronic source 
  is used, if the original material is formatted for print, cite in relation 
  to the print version, but follow that reference with a parallel citation to 
  the electronic source if that is likely to aid retrieval. "Likely to aid retrieval" should, of course, be considered from 
  the standpoint of expected readers of the work in which the citation will appear.</p>
     <p class="text-level1">
      <span class="difference">
       ¡
      </span>
      <span class="butsee">
       But 
  see
      </span>
      <a href="#2-115" target="_self">
       § 2-115(1)
      </a>
      <span class="difference">
       !
      </span>
     </p>
     <p class="iframe">
      <a name="2-100_frame_2">
      </a>
      <div style="text-align: center;" ignore-on-convert="">
       <span class="Examplewindow">
        § 
  2-110(2) Examples Window
       </span>
      </div>
      </p>
      <br>
      <p>
       <div style="text-align: center;" ignore-on-convert="">
        <div class="ExampleBox" name="2-100_frame_2">
         <ul>
          <li class="Example">
            <citation type="electronic">
           Steve Kenney &amp; John Borking,
           <span class="ITALICSORUNDERLINE">
            The 
    Value of Privacy Engineering
           </span>
           , 2002(1) J. Info. L. &amp; Tech., http://www2.warwick.ac.uk/fac/soc/law/elj/jilt/2002_1/kenny.
          </citation>
          </li>
          <li class="Example">
            <citation type="electronic">
           American Bar Association, Section on Legal Education and 
    Admissions to the Bar,
           <span class="ITALICSORUNDERLINE">
            Statistics
           </span>
           , http://www.americanbar.org/groups/legal_education/resources/statistics.html 
  (last visited Aug. 31, 2015).
          </citation>
          </li>
          <li class="Example">
            <citation type="electronic">
           World Bank,
           <span class="ITALICSORUNDERLINE">
            Old Age Security: 
    Pension Reform in China
           </span>
           2 (1997),
           <span class="ITALICSORUNDERLINE">
            available 
    at
           </span>
           http://www-wds.worldbank.org/servlet/WDS_IBank_Servlet?pcont=details&amp;eid;=000178830_98101912211149.
         </citation>
          </li>
         </ul>
        </div>
       </div>
      </br>
      </p>

     </p>
     <p class="text-level1">
      <span class="principle">
       <a name="2-110_2">
       </a>
       Principle 2:
      </span>
      The citation should consist of all the elements required for the basic document 
  type (
      <span class="ITALICSORUNDERLINE">
       e.g.
      </span>
      , case, constitution, statute, 
  regulation, article, report, or treatise), and as complete an ID or address 
  for the online electronic source as is available.
     </p>
     <p class="text-level1">
      Examples of appropriate address information include:
      <ul>
       <li class="text-level2">
        the full URL of a Web-based document
        <span class="example_icon" ng-controller="dynamicExamplesCtrl">
         <button class="btn btn-default" ng-click="toggleModal('Success')" ignore-on-convert="">
          «e.g.»
         </button>
         <modal visible="showModal">
          <ul>
           <li class="Example">
            <citation type="electronic">
            Steve Kenney &amp; John Borking,
            <span class="ITALICSORUNDERLINE">
             The 
    Value of Privacy Engineering
            </span>
            , 2002(1) J. Info. L. &amp; Tech.,
            <span class="highlight">
             http://www2.warwick.ac.uk/fac/soc/law/elj/jilt/2002_1/kenny
            </span>
            .
          </citation>
           </li>
           <li class="Example">
            <citation type="electronic">
            American Bar Association, Section on Legal Education and 
  Admissions to the Bar,
            <span class="ITALICSORUNDERLINE">
             Statistics
            </span>
            ,
            <span class="highlight">
             http://www.americanbar.org/groups/legal_education/resources/statistics.html
            </span>
            (last visited Aug. 31, 2015).
          </citation>
           </li>
           <li class="Example">
            <citation type="electronic">
            World Bank,
            <span class="ITALICSORUNDERLINE">
             Old Age Security: 
    Pension Reform in China
            </span>
            2 (1997),
            <span class="highlight">
             http://www-wds.worldbank.org/servlet/WDS_IBank_Servlet?pcont=details&amp;eid;=000178830_98101912211149
            </span>
            .
          </citation>
           </li>
          </ul>
         </modal>
        </span>
       </li>
       <li class="text-level2">
        a commercial database retrieval citation (
        <i>
         e.g.
        </i>
        , Westlaw, Lexis, or Bloomberg Law citation).
        <span class="example_icon" ng-controller="dynamicExamplesCtrl">
         <button class="btn btn-default" ng-click="toggleModal('Success')" ignore-on-convert="">
          «e.g.»
         </button>
         <modal visible="showModal">
          <ul>
           <li class="Example">
            <citation type="electronic">
            <span class="casename">
             United States v. Mena
            </span>
            , No. 08-5176-cr,
            <span class="highlight">
             2010
        U.S. App. LEXIS 1121, at *4
            </span>
            (2d Cir. Jan. 20, 2010).
          </citation>
           </li>
           <li class="Example">
            <citation type="electronic">
            <span class="casename">
             United States v. Mena
            </span>
            , No. 08-5176-cr,
            <span class="highlight">
             2010
        WL 177220, at *1
            </span>
            (2d Cir. Jan. 20, 2010).
          </citation>
           </li>
           <li class="Example">
            <citation type="electronic">
              <span class="casename">
             United States v. Mena
            </span>
            , No. 08-5176-cr,
            <span class="highlight">
             2010 BL 11611, at *1
            </span>
            (2d Cir. Jan. 20, 2010).
          </citation>
           </li>
          </ul>
         </modal>
        </span>
       </li>
      </ul>
      </p>

      <p class="text-level1">
       <span class="difference">
        ¡
       </span>
       <span class="butsee">
        But 
  see
       </span>
       <a href="#2-115" target="_self">
        § 2-115(2)
       </a>
       <span class="difference">
        !
       </span>
       </p>
       <p class="text-level1">
        Where no unique address is available indicate the source 
  including, if applicable, the database identification information in a parenthetical,
        <span class="ITALICSORUNDERLINE">
         e.g.
        </span>
        <ul>
         <li class="text-level2">
          (Bloomberg Law)
         </li>
         <li class="text-level2">
          (Westlaw, Legal Newspapers)
         </li>
         <li class="text-level2">
          (LexisNexis Veterans Benefits Manual and Related Laws 
    and Regulations CD-ROM)
         </li>
         <li class="text-level2">
          (ebook).
         </li>
        </ul>
        </p>
        <p class="text-level1">
         Similarly, if a complete URL is either unavailable or unwieldy and a Web search on the title will not retrieve thee document, 
  provide a base URL plus the steps necessary to access it in 
  parenthese,
         <span class="ITALICSORUNDERLINE">
          e.g.
         </span>
         </p>

         <ul>
          <li class="text-level2">
           (follow "Data &amp; Research" link; then follow 
    "Policy Research Reports" link).
          </li>
         </ul>
         <p class="iframe">
          <a name="2-100_frame_3">
          </a>
          <div style="text-align: center;" ignore-on-convert="">
           <span class="Examplewindow">
            § 
  2-110(3) Examples Window
           </span>
          </div>
          <br>
          </p>
           <div style="text-align: center;" ignore-on-convert="">
            <div class="ExampleBox" name="2-100_frame_3">
             <ul>
              <li class="Example">
                <citation type="electronic">
               Steve Kenney &amp; John Borking,
               <span class="ITALICSORUNDERLINE">
                The 
    Value of Privacy Engineering
               </span>
               , 2002(1) J. Info. L. &amp; Tech., http://www2.warwick.ac.uk/fac/soc/law/elj/jilt/2002_1/kenny.
             </citation>
              </li>
              <li class="Example">
                <citation type="electronic">
               American Bar Association, Section on Legal Education and 
    Admissions to the Bar,
               <span class="ITALICSORUNDERLINE">
                Statistics
               </span>
               , http://www.americanbar.org/groups/legal_education/resources/statistics.html 
  (last visited Aug. 31, 2015).
              </citation>
              </li>
              <li class="Example">
                <citation type="electronic">
               World Bank,
               <span class="ITALICSORUNDERLINE">
                Old Age Security: 
    Pension Reform in China
               </span>
               2 (1997),
               <span class="ITALICSORUNDERLINE">
                available 
    at
               </span>
               http://www-wds.worldbank.org/servlet/WDS_IBank_Servlet?pcont=details&amp;eid;=000178830_98101912211149.
             </citation>
              </li>
             </ul>
            </div>
           </div>
            
          

           <ul class="text-level1 example-ul">
            <span class="principle">
             <a name="2-110_3">
             </a>
             Principle 3:
            </span>
           
                A date should be furnished for an electronic source when the document citation 
                does not itself carry that information unambiguously. That date should be the 
                stated "current through" date or release date for a disc, the "through" 
                date for online sources if available or a "last modified" or "last 
                updated" date if one is furnished for the cited material or, failing all 
                else, a "last visited" or "accessed" date. Where such a 
                date is required, it should be placed at the end of the citation in a parenthetical.
          
          
          
            <span class="example_icon" ng-controller="dynamicExamplesCtrl">
             <button class="btn btn-default" ng-click="toggleModal('Success')" ignore-on-convert="">
              «e.g.»
             </button>
             <modal visible="showModal">
             
              <ul>
               <li class="Example">
                <citation type="electronic">
                Steve Kenney &amp; John Borking,
                <span class="ITALICSORUNDERLINE">
                 The 
    Value of Privacy Engineering
                </span>
                , 2002(1) J. Info. L. &amp; Tech., http://www2.warwick.ac.uk/fac/soc/law/elj/jilt/2002_1/kenny.
              </citation>
               </li>
               <li class="Example">
                <citation type="electronic">
                American Bar Association, Section on Legal Education and 
    Admissions to the Bar,
                <span class="ITALICSORUNDERLINE">
                 Statistics
                </span>
                , http://www.americanbar.org/groups/legal_education/resources/statistics.html 
  (
                <span class="highlight">
                 last visited Aug. 31, 2015
                </span>
                ).
              </citation>
               </li>
               <li class="Example">
                <citation type="electronic">
                World Bank,
                <span class="ITALICSORUNDERLINE">
                 Old Age Security: 
    Pension Reform in China
                </span>
                2 (1997),
                <span class="ITALICSORUNDERLINE">
                 available 
    at
                </span>
                http://www-wds.worldbank.org/servlet/WDS_IBank_Servlet?pcont=details&amp;eid;=000178830_98101912211149.
              </citation>
               </li>
              </ul>
              
             </modal>
            </span>
            </ul>
           
 <ul class="text-level1 example-ul">
  If there is already a parenthetical including source and database information 
  (see above), the two should be combined, separated by a comma.
            <span class="example_icon" ng-controller="dynamicExamplesCtrl">
             <button class="btn btn-default" ng-click="toggleModal('Success')" ignore-on-convert="">
              «e.g.»
             </button>
             <modal visible="showModal">
              <ul>
               <li class="Example">
                <citation type="electronic">
                <p class="Example">
                 Dep't of Veterans Affairs, M21-1,
                 <span class="ITALICSORUNDERLINE">
                  The Adjudiciation Division
                 </span>
                 § 2.03 (LexisNexis Veterans Benefits 
      Manual and Related Laws and Regulations CD-ROM,
                 <span class="highlight">
                  2014
                 </span>
                 ).
                </p>
              </citation>
               </li>
              </ul>
             </modal>
            </span>
           </ul>
            
          <h4 class="ebook-subsection Subsection">
            § 2-115.
            <a name="2-115">
            </a>
            Electronic Sources  
  Points of Difference in Citation Practice
           </h4>
           <p class="iframe">
            <a name="2-115_frame_1">
            </a>
            <div style="text-align: center;" ignore-on-convert="">
             <span class="Examplewindow">
              § 
  2-115 Examples Window
             </span>
            </div>
            </p>

            <br>
             <div style="text-align: center;" ignore-on-convert="">
              <div class="ExampleBox" name="2-115_frame_1">
               <ul>
                <li class="Example">
                  <citation type="electronic">
                 American Bar Association, Section on Legal Education and 
    Admissions to the Bar,
                 <span class="ITALICSORUNDERLINE">
                  Statistics,
                 </span>
                 http://www.americanbar.org/groups/legal_education/resources/statistics.html) 
  (last visited Aug. 31, 2015).
                  </citation>
                </li>
                <li class="Example">
                  <citation type="electronic">
                 World Bank,
                 <span class="ITALICSORUNDERLINE">
                  Old Age Security: 
    Pension Reform in China
                 </span>
                 2 (1997), http://www-wds.worldbank.org/servlet/WDS_IBank_Servlet?pcont=details&amp;eid;=000178830_98101912211149.
               </citation>
                </li>
               </ul>
              </div>
             </div>
            <ul class="text-level1 example-ul">
              <span class="principle">
               <a name="2-115_1">
               </a>
               Point 1:
              </span>
              Prior to the 2015 edition.
              <em>
               The Bluebook
              </em>
              called for the phrase "
              <em>
               available at
              </em>
              " (in italics) to be inserted at the beginning of parallel Internet citations. Since that has become embedded in judicial practice, it will very likely continue. Numerous courts that employ the format, including the nation’s highest, do not italicize the phrase. Others, New York being one, place a parallel electronic address (URL, commercial database cite, database identifier) in parentheses or brackets preceded by "available at".
              <span class="example_icon" ng-controller="dynamicExamplesCtrl">
               <button class="btn btn-default" ng-click="toggleModal('Success')" ignore-on-convert="">
                «e.g.»
               </button>
               <modal visible="showModal">
                <ul>
                 <li class="Example">
                  <citation type="electronic">
                  World Bank,
                  <span class="ITALICSORUNDERLINE">
                   Old Age Security: 
    Pension Reform in China
                  </span>
                  2 (1997)
                  <span class="highlight">
                   , available 
    at
                  </span>
                  http://www-wds.worldbank.org/servlet/WDS_IBank_Servlet?pcont=details&amp;eid;=000178830_98101912211149. 
  [Per the format used by the U.S. Supreme Court.]
                  </citation>
                 </li>
                 <li class="Example">
                  <citation type="electronic">
                  World Bank,
                  <span class="ITALICSORUNDERLINE">
                   Old Age Security: 
    Pension Reform in China
                  </span>
                  2 (1997)
                  <span class="highlight">
                   [available 
    at http://www-wds.worldbank.org/servlet/WDS_IBank_Servlet?pcont=details&amp;eid;=000178830_98101912211149]
                  </span>
                  . 
  [Per the format used by New York courts.]
                  </citation>
                 </li>
                </ul>
               </modal>
              </span>
              <a href="2-115_ex1.html" target="2-115_frame_1">
              </a>
              
             </ul>
              <ul class="text-level1 example-ul">
              <span class="principle">
               <a name="2-115_2">
               </a>
               Point 2:
              </span>
              The courts of some states, Ohio and Montana among them, favor “accessed” or “last accessed” over "last visited".  Those of most employ the phrase “last updated” rather than “last modified”.
              <span class="example_icon" ng-controller="dynamicExamplesCtrl">
               <button class="btn btn-default" ng-click="toggleModal('Success')" ignore-on-convert="">
                «e.g.»
               </button>
               <modal visible="showModal">
                <ul>
                 <li class="Example">
                  <citation type="electronic">
                  American Bar Association, Section on Legal Education and 
    Admissions to the Bar,
                  <span class="ITALICSORUNDERLINE">
                   Statistics,
                  </span>
                  http://www.americanbar.org/groups/legal_education/resources/statistics.html) 
    (
                  <span class="highlight">
                   accessed
                  </span>
                  Aug. 31, 2015). [Per the format used by Montana and Ohio courts.]
                  </citation>
                 </li>
                </ul>
               </modal>
              </span>
            
             </ul>
             <h4 class="ebook-subsection Subsection">
              § 2-120.
              <a name="2-115">
              </a>
              Electronic Sources  
  Variants and Special Cases
             </h4>
             <p class="iframe">
              <a name="2-120_frame_1">
              </a>
              <div style="text-align: center;" ignore-on-convert="">
               <span class="Examplewindow">
                § 
  2-120 Examples Window
               </span>
              </div>
              </p>
              <br>
               <div style="text-align: center;" ignore-on-convert="">
                <div class="ExampleBox" name="2-120_frame_1">
                 <ul>
                  <li class="Example">
                    <citation type="electronic">
                   James Grimmelmann,
                   <span class="ITALICSORUNDERLINE">
                    The 
    Structure of Search Engine Law
                   </span>
                   45 (New York Law School Legal Studies 
    Research Paper No. 06/07-23, 2007), http://ssrn.com/abstract=979568.
                    </citation>
                  </li>
                 </ul>
                </div>
               </div>
              </br>
             </p>
              <ul class="text-level1 example-ul">
              Scholarly articles frequently appear online prior to their 
  appearance in print, if, indeed, that ever occurs. Often, they are issued in 
  an institution's working paper series. Where that is the case, the working paper 
  designation and number should be included in the citation in the parentheses 
  containing the date.
              <span class="example_icon" ng-controller="dynamicExamplesCtrl">
               <button class="btn btn-default" ng-click="toggleModal('Success')" ignore-on-convert="">
                «e.g.»
               </button>
               <modal visible="showModal">
                <ul>
                 <li class="Example">
                  <citation type="electronic">
                  James Grimmelmann,
                  <span class="ITALICSORUNDERLINE">
                   The 
    Structure of Search Engine Law
                  </span>
                  45 (
                  <span class="highlight">
                   New York 
    Law School Legal Studies Research Paper No. 06/07-23
                  </span>
                  , 2007), http://ssrn.com/abstract=979568.
                  </citation>
                 </li>
                </ul>
               </modal>
              </span>
             </ul>
             <h3 class="Section">
             </h3>
 </body>
</html>
