<html>
 <head>
  <title>
   Basic Legal Citation: § 2-700 (2015)
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
   <link href="citation.css" rel="stylesheet">
   </link>
  </meta>
 </head>
 <body bgcolor="#FFFFFF" class="Normal">
  <h3 class="Section">
   § 2-700.
   <a name="2-700">
   </a>
   How to Cite Books
  </h3>
  <p class="text-level1">
   The relevant citation principles follow; section
   <a href="3-700.htm" target="_self">
    3-700
   </a>
   provides basic examples.
  </p>
  <h4 class="Subsection">
   § 2-710.
   <a name="2-710">
   </a>
   Book Citations  Most 
  Common Form
   <sup>
    <font size="-1">
     [
     <a href="7-300.htm#7-300_2-710" target="_blank">
      BB
     </a>
     |
     <a href="7-400.htm#7-400_2-710" target="_blank">
      ALWD
     </a>
     ]
    </font>
   </sup>
  </h4>
  <p class="text-level1">
   <span class="principle">
    <a name="2-500_1">
    </a>
    Principle:
   </span>
   A standard book citation consists of the following elements (in order):
  </p>
  <p class="iframe">
   <a name="2-710_frame_a">
   </a>
   <div class="ignore-on-convert" style="text-align: center;">
    <span class="Examplewindow">
     § 
  2-710(a) Examples Window
    </span>
   </div>
   <br>
    <div class="ignore-on-convert" style="text-align: center;">
     <div class="ExampleBox" name="2-710_frame_a">
      <ul>
       <li class="Example">
        2 Calvin W. Corman,
        <span class="ITALICSORUNDERLINE">
         Limitation of Actions
        </span>
        § 12.3 
    (1991).
       </li>
       <li class="Example">
        Henry Julian Abraham,
        <span class="ITALICSORUNDERLINE">
         Justices, Presidents, and Senators
        </span>
        290-95 (5th ed.
				2008).
       </li>
       <li class="Example">
        Wayne R. LaFave &amp; Austin W. Scott,
        <span class="ITALICSORUNDERLINE">
         Criminal Law
        </span>
        § 
    5.4 (2d ed. 1986).
       </li>
       <li class="Example">
        Eugene F. Scoles et al.,
        <span class="ITALICSORUNDERLINE">
         Conflict 
    of Laws
        </span>
        § 13.20, n. 10 (5th ed. 2010).
       </li>
      </ul>
     </div>
    </div>
    <p class="text-level2">
     <a name="2-710_1_a">
     </a>
     <span class="principle">
      Element 
  (a) -
     </span>
     The volume number (if it 
is a multi-volume work) followed by a space
     <div class="container" ng-controller="dynamicExamplesCtrl">
      <span class="example_icon">
       <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
        «e.g.»
       </button>
       <modal visible="showModal">
        <ul>
         <li class="Example">
          <span class="highlight">
           2
          </span>
          Calvin W. Corman,
          <span class="ITALICSORUNDERLINE">
           Limitation of Actions
          </span>
          § 12.3 
    (1991).
         </li>
         <li class="Example">
          Henry Julian Abraham,
          <span class="ITALICSORUNDERLINE">
           Justices, Presidents, and Senators
          </span>
          290-95 (5th ed.
    2008).
         </li>
         <li class="Example">
          Wayne R. LaFave &amp; Austin W. Scott,
          <span class="ITALICSORUNDERLINE">
           Criminal Law
          </span>
          § 
    5.4 (2d ed. 1986).
         </li>
         <li class="Example">
          Eugene F. Scoles et al.,
          <span class="ITALICSORUNDERLINE">
           Conflict 
    of Laws
          </span>
          § 13.20, n. 10 (5th ed. 2010).
         </li>
        </ul>
       </modal>
      </span>
     </div>
    </p>
    <p class="iframe">
     <a name="2-710_frame_b">
     </a>
     <div class="ignore-on-convert" style="text-align: center;">
      <span class="Examplewindow">
       § 
  2-710(b) Examples Window
      </span>
     </div>
     <br>
      <div class="ignore-on-convert" style="text-align: center;">
       <div class="ExampleBox" name="2-710_frame_b">
        <ul>
         <li class="Example">
          2 Calvin W. Corman,
          <span class="ITALICSORUNDERLINE">
           Limitation of Actions
          </span>
          § 12.3 
    (1991).
         </li>
         <li class="Example">
          Henry Julian Abraham,
          <span class="ITALICSORUNDERLINE">
           Justices, Presidents, and Senators
          </span>
          290-95 (5th ed.
				2008).
         </li>
         <li class="Example">
          Wayne R. LaFave &amp; Austin W. Scott,
          <span class="ITALICSORUNDERLINE">
           Criminal Law
          </span>
          § 
    5.4 (2d ed. 1986).
         </li>
         <li class="Example">
          Eugene F. Scoles et al.,
          <span class="ITALICSORUNDERLINE">
           Conflict 
    of Laws
          </span>
          § 13.20, n. 10 (5th ed. 2010).
         </li>
        </ul>
       </div>
      </div>
      <p class="text-level2">
       <a name="2-710_1_b">
       </a>
       <span class="principle">
        Element 
  (b) -
       </span>
       The full name of the author(s) 
  followed by a comma and a space
      </p>
      <ul class="text-level3">
       <li>
        Works by more than two authors are cited using the first author's name and 
    "et al." unless the inclusion of the other authors' names is significant
        <div class="container" ng-controller="dynamicExamplesCtrl">
         <span class="example_icon">
          <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
           «e.g.»
          </button>
          <modal visible="showModal">
           <ul>
            <li class="Example">
             2 Calvin W. Corman,
             <span class="ITALICSORUNDERLINE">
              Limitation of Actions
             </span>
             § 12.3 
    (1991).
            </li>
            <li class="Example">
             Henry Julian Abraham,
             <span class="ITALICSORUNDERLINE">
              Justices, Presidents, and Senators
             </span>
             290-95 (5th ed.
    2008).
            </li>
            <li class="Example">
             Wayne R. LaFave &amp; Austin W. Scott,
             <span class="ITALICSORUNDERLINE">
              Criminal Law
             </span>
             § 
    5.4 (2d ed. 1986).
            </li>
            <li class="Example">
             <span class="highlight">
              Eugene F. Scoles et al.
             </span>
             ,
             <span class="ITALICSORUNDERLINE">
              Conflict of Laws
             </span>
             § 13.20, n. 10 
    (5th ed. 2010).
            </li>
           </ul>
          </modal>
         </span>
        </div>
        .
       </li>
       <li>
        Works by two authors are cited using both names separated by "&amp;"
        <div class="container" ng-controller="dynamicExamplesCtrl">
         <span class="example_icon">
          <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
           «e.g.»
          </button>
          <modal visible="showModal">
           <ul>
            <li class="Example">
             2 Calvin W. Corman,
             <span class="ITALICSORUNDERLINE">
              Limitation of Actions
             </span>
             § 12.3 
    (1991).
            </li>
            <li class="Example">
             Henry Julian Abraham,
             <span class="ITALICSORUNDERLINE">
              Justices, Presidents, and Senators
             </span>
             290-95 (5th ed.
    2008).
            </li>
            <li class="Example">
             <span class="highlight">
              Wayne R. LaFave &amp; Austin W. Scott
             </span>
             ,
             <span class="ITALICSORUNDERLINE">
              Criminal Law
             </span>
             § 
    5.4 (2d ed. 1986).
            </li>
            <li class="Example">
             Eugene F. Scoles et al.,
             <span class="ITALICSORUNDERLINE">
              Conflict 
    of Laws
             </span>
             § 13.20, n. 10 (5th ed. 2010).
            </li>
           </ul>
          </modal>
         </span>
        </div>
        .
       </li>
       <li>
        Each author's full name should be given as it appears on the publication, 
    but omitting any appended titles or academic degrees, such as Prof. or Ph.D.
       </li>
      </ul>
      <p class="iframe">
       <a name="2-710_frame_c">
       </a>
       <div class="ignore-on-convert" style="text-align: center;">
        <span class="Examplewindow">
         § 
  2-710(c) Examples Window
        </span>
       </div>
       <br>
        <div class="ignore-on-convert" style="text-align: center;">
         <div class="ExampleBox" name="2-710_frame_c">
          <ul>
           <li class="Example">
            2 Calvin W. Corman,
            <span class="ITALICSORUNDERLINE">
             Limitation of Actions
            </span>
            § 12.3 
    (1991).
           </li>
           <li class="Example">
            Henry Julian Abraham,
            <span class="ITALICSORUNDERLINE">
             Justices, Presidents, and Senators
            </span>
            290-95 (5th ed.
				2008).
           </li>
           <li class="Example">
            Wayne R. LaFave &amp; Austin W. Scott,
            <span class="ITALICSORUNDERLINE">
             Criminal Law
            </span>
            § 
    5.4 (2d ed. 1986).
           </li>
           <li class="Example">
            Eugene F. Scoles et al.,
            <span class="ITALICSORUNDERLINE">
             Conflict 
    of Laws
            </span>
            § 13.20, n. 10 (5th ed. 2010).
           </li>
          </ul>
         </div>
        </div>
        <p class="text-level2">
         <a name="2-710_1_c">
         </a>
         <span class="principle">
          Element 
  (c) -
         </span>
         Title (italicized or underlined) followed by a space, with all words other than prepositions 
  and conjunctions begun with a capital letter
         <div class="container" ng-controller="dynamicExamplesCtrl">
          <span class="example_icon">
           <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
            «e.g.»
           </button>
           <modal visible="showModal">
            <ul>
             <li class="Example">
              2 Calvin W. Corman,
              <span class="highlight">
               <span class="ITALICSORUNDERLINE">
                Limitation of Actions
               </span>
              </span>
              § 12.3 
    (1991).
             </li>
             <li class="Example">
              Henry Julian Abraham,
              <span class="highlight">
               <span class="ITALICSORUNDERLINE">
                Justices, Presidents, and Senators
               </span>
              </span>
              290-95 (5th ed.
    2008).
             </li>
             <li class="Example">
              Wayne R. LaFave &amp; Austin W. Scott,
              <span class="highlight">
               <span class="ITALICSORUNDERLINE">
                Criminal Law
               </span>
              </span>
              § 
    5.4 (2d ed. 1986).
             </li>
             <li class="Example">
              Eugene F. Scoles et al.,
              <span class="highlight">
               <span class="ITALICSORUNDERLINE">
                Conflict 
    of Laws
               </span>
              </span>
              § 13.20, n. 10 (5th ed. 2010).
             </li>
            </ul>
           </modal>
          </span>
         </div>
        </p>
        <p class="iframe">
         <a name="2-710_frame_d">
         </a>
         <div class="ignore-on-convert" style="text-align: center;">
          <span class="Examplewindow">
           § 
  2-710(d) Examples Window
          </span>
         </div>
         <br>
          <div class="ignore-on-convert" style="text-align: center;">
           <div class="ExampleBox" name="2-710_frame_d">
            <ul>
             <li class="Example">
              2 Calvin W. Corman,
              <span class="ITALICSORUNDERLINE">
               Limitation of Actions
              </span>
              § 12.3 
    (1991).
             </li>
             <li class="Example">
              Henry Julian Abraham,
              <span class="ITALICSORUNDERLINE">
               Justices, Presidents, and Senators
              </span>
              290-95 (5th ed.
				2008).
             </li>
             <li class="Example">
              Wayne R. LaFave &amp; Austin W. Scott,
              <span class="ITALICSORUNDERLINE">
               Criminal Law
              </span>
              § 
    5.4 (2d ed. 1986).
             </li>
             <li class="Example">
              Eugene F. Scoles et al.,
              <span class="ITALICSORUNDERLINE">
               Conflict 
    of Laws
              </span>
              § 13.20, n. 10 (5th ed. 2010).
             </li>
            </ul>
           </div>
          </div>
          <p class="text-level2">
           <a name="2-710_1_d">
           </a>
           <span class="principle">
            Element 
  (d) -
           </span>
           Cited portion(s) of the 
  book indicated by section, paragraph, or page number followed by a space
           <div class="container" ng-controller="dynamicExamplesCtrl">
            <span class="example_icon">
             <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
              «e.g.»
             </button>
             <modal visible="showModal">
              <ul>
               <li class="Example">
                2 Calvin W. Corman,
                <span class="ITALICSORUNDERLINE">
                 Limitation of Actions
                </span>
                <span class="highlight">
                 § 12.3
                </span>
                (1991).
               </li>
               <li class="Example">
                Henry Julian Abraham,
                <span class="ITALICSORUNDERLINE">
                 Justices, Presidents, and Senators
                </span>
                <span class="highlight">
                 290-95
                </span>
                (5th ed.
    2008).
               </li>
               <li class="Example">
                Wayne R. LaFave &amp; Austin W. Scott,
                <span class="ITALICSORUNDERLINE">
                 Criminal Law
                </span>
                <span class="highlight">
                 § 
    5.4
                </span>
                (2d ed. 1986).
               </li>
               <li class="Example">
                Eugene F. Scoles et al.,
                <span class="ITALICSORUNDERLINE">
                 Conflict 
    of Laws
                </span>
                <span class="highlight">
                 § 13.20, n. 10
                </span>
                (5th ed. 
    2010).
               </li>
              </ul>
             </modal>
            </span>
           </div>
          </p>
          <p class="iframe">
           <a name="2-710_frame_e">
           </a>
           <div class="ignore-on-convert" style="text-align: center;">
            <span class="Examplewindow">
             § 
  2-710(e) Examples Window
            </span>
           </div>
           <br>
            <div class="ignore-on-convert" style="text-align: center;">
             <div class="ExampleBox" name="2-710_frame_e">
              <ul>
               <li class="Example">
                2 Calvin W. Corman,
                <span class="ITALICSORUNDERLINE">
                 Limitation of Actions
                </span>
                § 12.3 
    (1991).
               </li>
               <li class="Example">
                Henry Julian Abraham,
                <span class="ITALICSORUNDERLINE">
                 Justices, Presidents, and Senators
                </span>
                290-95 (5th ed.
				2008).
               </li>
               <li class="Example">
                Wayne R. LaFave &amp; Austin W. Scott,
                <span class="ITALICSORUNDERLINE">
                 Criminal Law
                </span>
                § 
    5.4 (2d ed. 1986).
               </li>
               <li class="Example">
                Eugene F. Scoles et al.,
                <span class="ITALICSORUNDERLINE">
                 Conflict 
    of Laws
                </span>
                § 13.20, n. 10 (5th ed. 2010).
               </li>
              </ul>
             </div>
            </div>
            <p class="text-level2">
             <a name="2-710_1_e">
             </a>
             <span class="principle">
              Element 
  (e) -
             </span>
             Parentheses containing 
  the edition number (if there have been multiple editions) and year of publication
             <div class="container" ng-controller="dynamicExamplesCtrl">
              <span class="example_icon">
               <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
                «e.g.»
               </button>
               <modal visible="showModal">
                <ul>
                 <li class="Example">
                  2 Calvin W. Corman,
                  <span class="ITALICSORUNDERLINE">
                   Limitation of Actions
                  </span>
                  § 12.3
                  <span class="highlight">
                   (1991)
                  </span>
                  .
                 </li>
                 <li class="Example">
                  Henry Julian Abraham,
                  <span class="ITALICSORUNDERLINE">
                   Justices, Presidents, and Senators
                  </span>
                  290-95
                  <span class="highlight">
                   (5th ed.
    2008)
                  </span>
                  .
                 </li>
                 <li class="Example">
                  Wayne R. LaFave &amp; Austin W. Scott,
                  <span class="ITALICSORUNDERLINE">
                   Criminal Law
                  </span>
                  § 
    5.4
                  <span class="highlight">
                   (2d ed. 1986)
                  </span>
                  .
                 </li>
                 <li class="Example">
                  Eugene F. Scoles et al.,
                  <span class="ITALICSORUNDERLINE">
                   Conflict 
    of Laws
                  </span>
                  § 13.20, n. 10
                  <span class="highlight">
                   (5th ed. 2010)
                  </span>
                  .
                 </li>
                </ul>
               </modal>
              </span>
             </div>
             . When citing from the online version of a treatise the year should be the year in the copyright notice on the page.
            </p>
            <h4 class="Subsection">
             § 2-720.
             <a name="2-750">
             </a>
             Book Citations  Variants 
and Special Cases
            </h4>
            <p class="iframe">
             <a name="2-720_frame_1">
             </a>
             <div class="ignore-on-convert" style="text-align: center;">
              <span class="Examplewindow">
               § 
  2-720(1) Examples Window
              </span>
             </div>
             <br>
              <div class="ignore-on-convert" style="text-align: center;">
               <div class="ExampleBox" name="2-720_frame_1">
                <ul>
                 <li class="Example">
                  Enron Corp.,
                  <span class="ITALICSORUNDERLINE">
                   2000 Annual Report
                  </span>
                  30 (2001).
                 </li>
                 <li class="Example">
                  Nolan J. Malone, U.S. Bureau of the Census,
                  <span class="ITALICSORUNDERLINE">
                   Evaluating 
    Components of International Migration: Consistency of 2000 Nativity Data
                  </span>
                  (2001).
                 </li>
                 <li class="Example">
                  Research &amp; Pub. Policy Dep't, Nat'l Urban League,
                  <span class="ITALICSORUNDERLINE">
                   The 
    Impact of Social Security on Child Poverty
                  </span>
                  5 (2000).
                 </li>
                </ul>
               </div>
              </div>
              <p class="text-level1">
               <span class="principle">
                <a name="2-720_1">
                </a>
                Special Case 
  1  Works by Institutional Authors:
               </span>
               <sup>
                <font size="-1">
                 [
                 <a href="7-300.htm#7-300_2-720_1" target="_blank">
                  BB
                 </a>
                 |
                 <a href="7-400.htm#7-400_2-720_1" target="_blank">
                  ALWD
                 </a>
                 ]
                </font>
               </sup>
              </p>
              <p class="text-level1">
               Works by institutional authors are cited like books by individuals 
  with the name of the institution substituting for the name of an individual 
  author
               <div class="container" ng-controller="dynamicExamplesCtrl">
                <span class="example_icon">
                 <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
                  «e.g.»
                 </button>
                 <modal visible="showModal">
                  <ul>
                   <li class="Example">
                    <span class="highlight">
                     Enron Corp.
                    </span>
                    ,
                    <span class="ITALICSORUNDERLINE">
                     2000 
    Annual Report
                    </span>
                    30 (2001).
                   </li>
                   <li class="Example">
                    Nolan J. Malone, U.S. Bureau of the Census,
                    <span class="ITALICSORUNDERLINE">
                     Evaluating 
    Components of International Migration: Consistency of 2000 Nativity Data
                    </span>
                    (2001).
                   </li>
                   <li class="Example">
                    Research &amp; Pub. Policy Dep't, Nat'l Urban League,
                    <span class="ITALICSORUNDERLINE">
                     The 
    Impact of Social Security on Child Poverty
                    </span>
                    5 (2000).
                   </li>
                  </ul>
                 </modal>
                </span>
               </div>
               . 
  If an individual author is credited for the work along with the institution, 
  both are listed with the individual author coming first
               <div class="container" ng-controller="dynamicExamplesCtrl">
                <span class="example_icon">
                 <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
                  «e.g.»
                 </button>
                 <modal visible="showModal">
                  <ul>
                   <li class="Example">
                    Enron Corp.,
                    <span class="ITALICSORUNDERLINE">
                     2000 Annual 
    Report
                    </span>
                    30 (2001).
                   </li>
                   <li class="Example">
                    <span class="highlight">
                     Nolan J. Malone
                    </span>
                    , U.S. Bureau 
    of the Census,
                    <span class="ITALICSORUNDERLINE">
                     Evaluating Components of International 
    Migration: Consistency of 2000 Nativity Data
                    </span>
                    (2001).
                   </li>
                   <li class="Example">
                    Research &amp; Pub. Policy Dep't, Nat'l Urban League,
                    <span class="ITALICSORUNDERLINE">
                     The 
    Impact of Social Security on Child Poverty
                    </span>
                    5 (2000).
                   </li>
                  </ul>
                 </modal>
                </span>
               </div>
               . 
  Where multiple units or division of the institution are listed on the work, 
  the citation includes the smallest unit first and then skips to the largest, 
  omitting all in between
               <div class="container" ng-controller="dynamicExamplesCtrl">
                <span class="example_icon">
                 <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
                  «e.g.»
                 </button>
                 <modal visible="showModal">
                  <ul>
                   <li class="Example">
                    Enron Corp.,
                    <span class="ITALICSORUNDERLINE">
                     2000 Annual 
    Report
                    </span>
                    30 (2001).
                   </li>
                   <li class="Example">
                    Nolan J. Malone, U.S. Bureau of the Census,
                    <span class="ITALICSORUNDERLINE">
                     Evaluating 
    Components of International Migration: Consistency of 2000 Nativity Data
                    </span>
                    (2001).
                   </li>
                   <li class="Example">
                    <span class="highlight">
                     Research &amp; Pub. Policy Dep't, 
    Nat'l Urban League
                    </span>
                    ,
                    <span class="ITALICSORUNDERLINE">
                     The Impact of 
    Social Security on Child Poverty
                    </span>
                    5 (2000).
                   </li>
                  </ul>
                 </modal>
                </span>
               </div>
               . 
  In cases where an individual author is cited, the name of that author substitutes 
  for the smallest unit.
              </p>
              <p class="iframe">
               <a name="2-720_frame_2">
               </a>
               <div class="ignore-on-convert" style="text-align: center;">
                <span class="Examplewindow">
                 § 
  2-720(2) Examples Window
                </span>
               </div>
               <br>
                <div class="ignore-on-convert" style="text-align: center;">
                 <div class="ExampleBox" name="2-720_frame_2">
                  <ul>
                   <li class="Example">
                    <span class="ITALICSORUNDERLINE">
                     Vill. of Grand View v. 
    Skinner
                    </span>
                    , 22 Envtl. L. Rep. (Envtl. Law Inst.) 20120 (2d Cir. Oct. 24, 
    1991).
                   </li>
                   <li class="Example">
                    <span class="ITALICSORUNDERLINE">
                     Norling v. Valley Contracting
                    </span>
                    , [2 Wages-Hours] Lab. 
    L. Rep. (CCH) ¶ 35,543 (D.N.D. June 11, 1991).
                   </li>
                   <li class="Example">
                    <span class="ITALICSORUNDERLINE">
                     Flamme v. Wolf Ins. Agency
                    </span>
                    , [Insurance] Auto. L. 
    Rep. (CCH) ¶ 18,307 (Neb. Nov. 8, 1991).
                   </li>
                  </ul>
                 </div>
                </div>
                <p class="text-level1">
                 <span class="principle">
                  <a name="2-720_2">
                  </a>
                  Special Case 
  2  Services:
                 </span>
                 <sup>
                  <font size="-1">
                   [
                   <a href="7-300.htm#7-300_2-720_2" target="_blank">
                    BB
                   </a>
                   |
                   <a href="7-400.htm#7-400_2-720_2" target="_blank">
                    ALWD
                   </a>
                   ]
                  </font>
                 </sup>
                </p>
                <p class="text-level1">
                 Compilations organized around specialized fields include 
  a wide variety of material, ranging from statutes to brief commentary. They 
  are a frequent source of otherwise unpublished cases.
                </p>
                <p class="text-level1">
                 Citations to material in such a service include the name 
  or title of the cited document in accordance with the rules applicable to its 
  type (cases, administrative material, etc.). The portion of the citation identifying 
  the document's address in the service includes: volume, abbreviated title (not 
  italicized), publisher in parentheses, subdivision
                 <div class="container" ng-controller="dynamicExamplesCtrl">
                  <span class="example_icon">
                   <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
                    «e.g.»
                   </button>
                   <modal visible="showModal">
                    <ul>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Vill. of Grand View v. 
    Skinner
                      </span>
                      ,
                      <span class="highlight">
                       22 Envtl. L. Rep. (Envtl. Law Inst.) 
    20120
                      </span>
                      (2d Cir. Oct. 24, 1991).
                     </li>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Norling v. Valley Contracting
                      </span>
                      ,
                      <span class="highlight">
                       [2 
    Wages-Hours] Lab. L. Rep. (CCH)
                      </span>
                      ¶ 35,543 (D.N.D. June 11, 1991).
                     </li>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Flamme v. Wolf Ins. Agency
                      </span>
                      ,
                      <span class="highlight">
                       [Insurance] 
    Auto. L. Rep. (CCH) ¶ 18,307
                      </span>
                      (Neb. Nov. 8, 1991).
                     </li>
                    </ul>
                   </modal>
                  </span>
                 </div>
                 . In 
  cases where the volume designation is not simply a number it should be placed 
  in brackets to separate it from the work's title
                 <div class="container" ng-controller="dynamicExamplesCtrl">
                  <span class="example_icon">
                   <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
                    «e.g.»
                   </button>
                   <modal visible="showModal">
                    <ul>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Vill. of Grand View v. 
    Skinner
                      </span>
                      , 22 Envtl. L. Rep. (Envtl. Law Inst.) 20120 (2d Cir. Oct. 24, 
    1991).
                     </li>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Norling v. Valley Contracting
                      </span>
                      ,
                      <span class="highlight">
                       [2 Wages-Hours]
                      </span>
                      Lab. L. Rep. (CCH) ¶ 35,543 
    (D.N.D. June 11, 1991).
                     </li>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Flamme v. Wolf Ins. Agency
                      </span>
                      ,
                      <span class="highlight">
                       [Insurance]
                      </span>
                      Auto. L. Rep. (CCH) ¶ 18,307 (Neb. 
    Nov. 8, 1991).
                     </li>
                    </ul>
                   </modal>
                  </span>
                 </div>
                 . 
  The date accompanying the citation (in most cases, at the end, in parentheses) 
  is the full date of the cited document
                 <div class="container" ng-controller="dynamicExamplesCtrl">
                  <span class="example_icon">
                   <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
                    «e.g.»
                   </button>
                   <modal visible="showModal">
                    <ul>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Vill. of Grand View v. 
    Skinner
                      </span>
                      , 22 Envtl. L. Rep. (Envtl. Law Inst.) 20120 (2d Cir.
                      <span class="highlight">
                       Oct. 
    24, 1991
                      </span>
                      ).
                     </li>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Norling v. Valley Contracting
                      </span>
                      , [2 Wages-Hours] Lab. 
    L. Rep. (CCH) ¶ 35,543 (D.N.D.
                      <span class="highlight">
                       June 11, 1991
                      </span>
                      ).
                     </li>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Flamme v. Wolf Ins. Agency
                      </span>
                      , [Insurance] Auto. L. 
    Rep. (CCH) ¶ 18,307 (Neb.
                      <span class="highlight">
                       Nov. 8, 1991
                      </span>
                      ).
                     </li>
                    </ul>
                   </modal>
                  </span>
                 </div>
                 .
                </p>
                <p class="iframe">
                 <a name="2-720_frame_3">
                 </a>
                 <div class="ignore-on-convert" style="text-align: center;">
                  <span class="Examplewindow">
                   § 
  2-720(3) Examples Window
                  </span>
                 </div>
                 <br>
                  <div class="ignore-on-convert" style="text-align: center;">
                   <div class="ExampleBox" name="2-720_frame_3">
                    <ul>
                     <li class="Example">
                      Restatement (Second) of Contracts § 30 (1981).
                     </li>
                     <li class="Example">
                      Restatement (Second) of Judgments § 57 cmt. b, illus. 3 
    (1982).
                     </li>
                    </ul>
                   </div>
                  </div>
                  <p class="text-level1">
                   <span class="principle">
                    <a name="2-720_3">
                    </a>
                    Special Case 
  3  Restatements:
                   </span>
                   <sup>
                    <font size="-1">
                     [
                     <a href="7-300.htm#7-300_2-720_3" target="_blank">
                      BB
                     </a>
                     |
                     <a href="7-400.htm#7-400_2-720_3" target="_blank">
                      ALWD
                     </a>
                     ]
                    </font>
                   </sup>
                  </p>
                  <p class="text-level1">
                   Restatements are not attributed to an author; they are cited 
  simply by name, subdivision, and year.
                  </p>
                  <p class="text-level1">
                   The most recent edition of The Bluebook prescribes adding the name of the sponsoring entity, abbreviated, in the concluding parenthetical.  For Restatements that would be "Am. Law Inst."
                   <div class="container" ng-controller="dynamicExamplesCtrl">
                    <span class="example_icon">
                     <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
                      «e.g.»
                     </button>
                     <modal visible="showModal">
                      <ul>
                       <li class="Example">
                        Restatement (Second) of Contracts § 30 (
                        <span class="highlight">
                         Am. Law Inst.
                        </span>
                        1981).
                       </li>
                       <li class="Example">
                        Restatement (Second) of Judgments § 57 cmt. b, illus. 3 
    (
                        <span class="highlight">
                         Am. Law Inst.
                        </span>
                        1982).
                       </li>
                      </ul>
                     </modal>
                    </span>
                   </div>
                   To date this new requirement has no support in professional citation practice.
                  </p>
                  <p class="iframe">
                   <a name="2-720_frame_4">
                   </a>
                   <div class="ignore-on-convert" style="text-align: center;">
                    <span class="Examplewindow">
                     § 
  2-720(4) Examples Window
                    </span>
                   </div>
                   <br>
                    <div class="ignore-on-convert" style="text-align: center;">
                     <div class="ExampleBox" name="2-720_frame_4">
                      <ul>
                       <li class="Example">
                        Francis M. Dougherty, Annotation,
                        <span class="ITALICSORUNDERLINE">
                         Insurer's Tort Liability 
    for Wrongful or Negligent Issuance of Life Policy
                        </span>
                        , 37 A.L.R.4th 972, 974 
    (1985).
                       </li>
                       <li class="Example">
                        Francis M. Dougherty, Annotation,
                        <span class="ITALICSORUNDERLINE">
                         Insurer's Tort Liability 
    for Wrongful or Negligent Issuance of Life Policy
                        </span>
                        , 37 A.L.R.4th 972, at § 1 
    (1985).
                       </li>
                      </ul>
                     </div>
                    </div>
                    <p class="text-level1">
                     <span class="principle">
                      <a name="2-720_4">
                      </a>
                      Special Case 
  4  Annotations:
                     </span>
                     <sup>
                      <font size="-1">
                       [
                       <a href="7-300.htm#7-300_2-720_4" target="_blank">
                        BB
                       </a>
                       |
                       <a href="7-400.htm#7-400_2-720_4" target="_blank">
                        ALWD
                       </a>
                       ]
                      </font>
                     </sup>
                    </p>
                    <p class="text-level1">
                     Annotations in the
                     <span class="ITALICSORUNDERLINE">
                      American 
  Law Reports
                     </span>
                     (A.L.R.) are treated as articles in a collection or journal. 
  Since the online versions in LexisNexis and Westlaw fail to show original interior 
  pagination and are continuously updated, they require the use of section numbers in any pinpoint reference and, if cited for recent material, may call for use of the current year rather than the year of initial publication.
                    </p>
                    <p class="text-level1">
                    </p>
                   </br>
                  </p>
                 </br>
                </p>
               </br>
              </p>
             </br>
            </p>
           </br>
          </p>
         </br>
        </p>
       </br>
      </p>
     </br>
    </p>
   </br>
  </p>
 </body>
</html>
