<html>
 <head>
  <title>
   Basic Legal Citation: § 2-900 (2015)
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  </meta>
 </head>
 <body bgcolor="#FFFFFF" class="Normal">
  <h3 class="Section">
   § 2-900.
   <a name="2-900">
   </a>
   How to Cite Documents from 
  Earlier Stages of the Same Case
   <sup>
    <font size="-1">
     [
     <a href="7-300.htm#7-300_2-900" target="_blank">
      BB
     </a>
     |
     <a href="7-400.htm#7-400_2-900" target="_blank">
      ALWD
     </a>
     ]
    </font>
   </sup>
  </h3>
  <p class="iframe">
   <a name="2-900_frame_1">
   </a>
   <div class="ignore-on-convert" style="text-align: center;">
    <span class="Examplewindow bold">
     § 
  2-900 Examples Window
    </span>
   </div>
   <br>
    <div class="ignore-on-convert" style="text-align: left;">
     <div class="ExampleBox" name="2-900_frame_1">
      <ul>
       <li class="Example">
        (R. at 30.)
       </li>
       <li class="Example">
        (Smith Aff. ¶ 6.)
       </li>
       <li class="Example">
        (Compl. ¶ 10.)
       </li>
       <li class="Example">
        (Horn Dep. 99:23-101:5, July 22, 2005, ECF No. 22.)
       </li>
      </ul>
     </div>
    </div>
    <p class="text-level1">
     References to the record and other case documents in a brief 
  or memorandum are placed in parentheses. The document's name is not italicized 
  or underlined, but initial letters are capitalized. Standard abbreviations 
  (
     <a href="4-900.htm" target="_self">
      § 4-900
     </a>
     ) exist for many of the 
  document types. Pinpoint citations are indicated using the division (paragraph, 
  number, page) of the document in question. Citation to a particular page (or 
  range of page numbers) in the record is, customarily, preceded by the word "at" 
  followed by the page number
     <div class="container" ng-controller="dynamicExamplesCtrl">
      <span class="example_icon">
       <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
        «e.g.»
       </button>
       <modal visible="showModal">
        <ul>
         <li class="Example">
          (R.
          <span class="highlight">
           at
          </span>
          30.)
         </li>
         <li class="Example">
          (Smith Aff. ¶ 6.)
         </li>
         <li class="Example">
          (Compl. ¶ 10.)
         </li>
         <li class="Example">
          (Horn Dep. 99:23-101:5, July 22, 2005, ECF No. 22.)
         </li>
        </ul>
       </modal>
      </span>
     </div>
     . 
  The date of the event is furnished with depositions, trial testimony, and in 
  other situations where it will aid the reader
     <div class="container" ng-controller="dynamicExamplesCtrl">
      <span class="example_icon">
       <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
        «e.g.»
       </button>
       <modal visible="showModal">
        <ul>
         <li class="Example">
          (R. at 30.)
         </li>
         <li class="Example">
          (Smith Aff. ¶ 6.)
         </li>
         <li class="Example">
          (Compl. ¶ 10.)
         </li>
         <li class="Example">
          (Horn Dep. 99:23-101:5
          <span class="highlight">
           , July 22, 
    2005
          </span>
          , ECF No. 22.)
         </li>
        </ul>
       </modal>
      </span>
     </div>
     . When the document is held in a court case management system like the federal courts' CM/ECF which assigns document numbers, that designation should also be included.
    </p>
    <p class="text-level1">
     In jurisdictions with electronic filing and electronic case records new citation forms designed to facilitate programmatic linking of references to the record have begun to emerge. For example, the Fifth Circuit, U.S. Court of Appeals, now requires that references in a brief to the electronic record employ the format "ROA," followed by a period, followed by the page number (e.g., ROA.123).
    </p>
    <p class="text-level1">
    </p>
   </br>
  </p>
 </body>
</html>
