<html>
 <head>
  <title>
   Basic Legal Citation: § 4-800 (2015)
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  </meta>
 </head>
 <body bgcolor="#FFFFFF" class="Normal">
  <h3 class="Section">
   § 4-800.
   <a name="4-800">
   </a>
   Spacing between Abbreviated 
  Words and Periods in Abbreviations
  </h3>
  <h3 class="Subsection">
   § 4-810.
   <a name="4-810">
   </a>
   Spacing between Abbreviated 
  Words
   <sup>
    <font size="-1">
     [
     <a href="7-300.htm#7-300_4-810" target="_blank">
      BB
     </a>
     |
     <a href="7-400.htm#7-400_4-810" target="_blank">
      ALWD
     </a>
     ]
    </font>
   </sup>
  </h3>
  <span class="principle">
   <span class="text-level1">
   </span>
  </span>
  <p class="iframe">
   <a name="4-810_frame_1">
   </a>
   <div class="ignore-on-convert" style="text-align: center;">
    <span class="Examplewindow bold">
     § 
  4-810(1) Examples Window
    </span>
   </div>
   <br>
    <div class="ignore-on-convert" style="text-align: left;">
     <div class="ExampleBox" name="4-810_frame_1">
      <ul>
       <li class="Example">
        <span class="ITALICSORUNDERLINE">
         Natural
         <font color="#FF0000">
          
         </font>
         Res.
         <font color="#FF0000">
          
         </font>
         Def.
         <font color="#FF0000">
          
         </font>
         Council
         <font color="#FF0000">
          
         </font>
         v.
         <font color="#FF0000">
          
         </font>
         NRC
        </span>
        ,
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        216
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        F.3d
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        1180
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        (D.C.
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        Cir.
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        2000).
       </li>
       <li class="Example">
        David
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        A.J.
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        Richards,
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        <span class="ITALICSORUNDERLINE">
         Originalism
         <font color="#FF0000">
          
         </font>
         Without
         <font color="#FF0000">
          
         </font>
         Foundations
        </span>
        ,
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        65
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        N.Y.U.
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        L.
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        Rev.
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        1373
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        (1990)
        <span class="ITALICSORUNDERLINE">
        </span>
        (reviewing
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        Robert
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        Bork,
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        <span class="ITALICSORUNDERLINE">
         The
         <font color="#FF0000">
          
         </font>
         Tempting
         <font color="#FF0000">
          
         </font>
         of
         <font color="#FF0000">
          
         </font>
         America:
         <font color="#FF0000">
          
         </font>
         The
         <font color="#FF0000">
          
         </font>
         Political
         <font color="#FF0000">
          
         </font>
         Seduction
         <font color="#FF0000">
          
         </font>
         of
         <font color="#FF0000">
          
         </font>
         the
         <font color="#FF0000">
          
         </font>
         Law
        </span>
        ).
       </li>
       <li class="Example">
        <span class="ITALICSORUNDERLINE">
         Orange
         <font color="#FF0000">
          
         </font>
         Cnty.
         <font color="#FF0000">
          
         </font>
         Agric.
         <font color="#FF0000">
          
         </font>
         Soc'y,
         <font color="#FF0000">
          
         </font>
         Inc.
         <font color="#FF0000">
          
         </font>
         v.
         <font color="#FF0000">
          
         </font>
         Comm'r
        </span>
        ,
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        893
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        F.2d
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        529
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        (2d
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        Cir.
        <span class="ITALICSORUNDERLINE">
         <font color="#FF0000">
          
         </font>
        </span>
        1990).
        <br>
         <span class="ITALICSORUNDERLINE">
          <font color="#FF0000">
           
          </font>
         </span>
         = space
        </br>
       </li>
      </ul>
     </div>
    </div>
    <p class="text-level1">
     <span class="principle">
      <a name="4-810_1">
      </a>
      Principle 1:
     </span>
     Successive words abbreviated with a single capital letter are normally not separated 
  from one another with a space
     <div class="container" ng-controller="dynamicExamplesCtrl">
      <span class="example_icon">
       <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
        «e.g.»
       </button>
       <modal visible="showModal">
        <ul>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Natural
           <font color="#FF0000">
            
           </font>
           Res.
           <font color="#FF0000">
            
           </font>
           Def.
           <font color="#FF0000">
            
           </font>
           Council
           <font color="#FF0000">
            
           </font>
           v.
           <font color="#FF0000">
            
           </font>
           NRC
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          216
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          F.3d
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1180
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (
          <span class="highlight">
           D.C.
          </span>
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Cir.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          2000).
         </li>
         <li class="Example">
          David
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="highlight">
           A.J.
          </span>
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Richards,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="ITALICSORUNDERLINE">
           Originalism
           <font color="#FF0000">
            
           </font>
           Without
           <font color="#FF0000">
            
           </font>
           Foundations
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          65
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="highlight">
           N.Y.U.
          </span>
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          L.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Rev.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1373
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (1990)
          <span class="ITALICSORUNDERLINE">
          </span>
          (reviewing
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Robert
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Bork,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="ITALICSORUNDERLINE">
           The
           <font color="#FF0000">
            
           </font>
           Tempting
           <font color="#FF0000">
            
           </font>
           of
           <font color="#FF0000">
            
           </font>
           America:
           <font color="#FF0000">
            
           </font>
           The
           <font color="#FF0000">
            
           </font>
           Political
           <font color="#FF0000">
            
           </font>
           Seduction
           <font color="#FF0000">
            
           </font>
           of
           <font color="#FF0000">
            
           </font>
           the
           <font color="#FF0000">
            
           </font>
           Law
          </span>
          ).
         </li>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Orange
           <font color="#FF0000">
            
           </font>
           Cnty.
           <font color="#FF0000">
            
           </font>
           Agric.
           <font color="#FF0000">
            
           </font>
           Soc'y,
           <font color="#FF0000">
            
           </font>
           Inc.
           <font color="#FF0000">
            
           </font>
           v.
           <font color="#FF0000">
            
           </font>
           Comm'r
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          893
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          F.2d
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          529
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (2d
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Cir.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1990).
          <br>
           <span class="ITALICSORUNDERLINE">
            <font color="#FF0000">
             
            </font>
           </span>
           = space
          </br>
         </li>
        </ul>
       </modal>
      </span>
     </div>
     .
    </p>
    <p class="text-level1">
     <span class="principle">
      <a name="4-810_2">
      </a>
      Principle 2:
     </span>
     Longer abbreviations are separated from one another and from single letter 
  abbreviations with a space
     <div class="container" ng-controller="dynamicExamplesCtrl">
      <span class="example_icon">
       <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
        «e.g.»
       </button>
       <modal visible="showModal">
        <ul>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Natural
           <font color="#FF0000">
            
           </font>
           Res.
           <font class="highlight" color="#FF0000">
            
           </font>
           Def.
           <font color="#FF0000">
            
           </font>
           Council
           <font color="#FF0000">
            
           </font>
           v.
           <font color="#FF0000">
            
           </font>
           NRC
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          216
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          F.3d
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1180
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (D.C.
          <span class="ITALICSORUNDERLINE">
           <font class="highlight" color="#FF0000">
            
           </font>
          </span>
          Cir.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          2000).
         </li>
         <li class="Example">
          David
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          A.J.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Richards,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="ITALICSORUNDERLINE">
           Originalism
           <font color="#FF0000">
            
           </font>
           Without
           <font color="#FF0000">
            
           </font>
           Foundations
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          65
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          N.Y.U.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          L.
          <span class="ITALICSORUNDERLINE">
           <font class="highlight" color="#FF0000">
            
           </font>
          </span>
          Rev.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1373
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (1990)
          <span class="ITALICSORUNDERLINE">
          </span>
          (reviewing
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Robert
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Bork,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="ITALICSORUNDERLINE">
           The
           <font color="#FF0000">
            
           </font>
           Tempting
           <font color="#FF0000">
            
           </font>
           of
           <font color="#FF0000">
            
           </font>
           America:
           <font color="#FF0000">
            
           </font>
           The
           <font color="#FF0000">
            
           </font>
           Political
           <font color="#FF0000">
            
           </font>
           Seduction
           <font color="#FF0000">
            
           </font>
           of
           <font color="#FF0000">
            
           </font>
           the
           <font color="#FF0000">
            
           </font>
           Law
          </span>
          ).
         </li>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Orange
           <font color="#FF0000">
            
           </font>
           Cnty.
           <font color="#FF0000">
            
           </font>
           Agric.
           <font class="highlight" color="#FF0000">
            
           </font>
           Soc'y,
           <font class="highlight" color="#FF0000">
            
           </font>
           Inc.
           <font color="#FF0000">
            
           </font>
           v.
           <font color="#FF0000">
            
           </font>
           Comm'r
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          893
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          F.2d
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          529
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (2d
          <span class="ITALICSORUNDERLINE">
           <font class="highlight" color="#FF0000">
            
           </font>
          </span>
          Cir.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1990).
          <br>
           <span class="ITALICSORUNDERLINE">
            <font color="#FF0000">
             
            </font>
           </span>
           = space
          </br>
         </li>
        </ul>
       </modal>
      </span>
     </div>
     .
    </p>
    <p class="text-level1">
     <span class="principle">
      <a name="4-810_3">
      </a>
      Principle 3:
     </span>
     In journal titles, successive single letters that refer to an entity are separated 
  from other single letter abbreviations with a space
     <div class="container" ng-controller="dynamicExamplesCtrl">
      <span class="example_icon">
       <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
        «e.g.»
       </button>
       <modal visible="showModal">
        <ul>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Natural
           <font color="#FF0000">
            
           </font>
           Res.
           <font color="#FF0000">
            
           </font>
           Def.
           <font color="#FF0000">
            
           </font>
           Council
           <font color="#FF0000">
            
           </font>
           v.
           <font color="#FF0000">
            
           </font>
           NRC
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          216
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          F.3d
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1180
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (D.C.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Cir.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          2000).
         </li>
         <li class="Example">
          David
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          A.J.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Richards,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="ITALICSORUNDERLINE">
           Originalism
           <font color="#FF0000">
            
           </font>
           Without
           <font color="#FF0000">
            
           </font>
           Foundations
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          65
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="highlight">
           N.Y.U.
           <span class="ITALICSORUNDERLINE">
            <font color="#FF0000">
             
            </font>
           </span>
          </span>
          L.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Rev.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1373
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (1990)
          <span class="ITALICSORUNDERLINE">
          </span>
          (reviewing
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Robert
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Bork,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="ITALICSORUNDERLINE">
           The
           <font color="#FF0000">
            
           </font>
           Tempting
           <font color="#FF0000">
            
           </font>
           of
           <font color="#FF0000">
            
           </font>
           America:
           <font color="#FF0000">
            
           </font>
           The
           <font color="#FF0000">
            
           </font>
           Political
           <font color="#FF0000">
            
           </font>
           Seduction
           <font color="#FF0000">
            
           </font>
           of
           <font color="#FF0000">
            
           </font>
           the
           <font color="#FF0000">
            
           </font>
           Law
          </span>
          ).
         </li>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Orange
           <font color="#FF0000">
            
           </font>
           Cnty.
           <font color="#FF0000">
            
           </font>
           Agric.
           <font color="#FF0000">
            
           </font>
           Soc'y,
           <font color="#FF0000">
            
           </font>
           Inc.
           <font color="#FF0000">
            
           </font>
           v.
           <font color="#FF0000">
            
           </font>
           Comm'r
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          893
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          F.2d
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          529
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (2d
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Cir.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1990).
          <br>
           <span class="ITALICSORUNDERLINE">
            <font color="#FF0000">
             
            </font>
           </span>
           = space
          </br>
         </li>
        </ul>
       </modal>
      </span>
     </div>
     .
    </p>
    <p class="text-level1">
     <span class="principle">
      <a name="4-810_4">
      </a>
      Principle 4:
     </span>
     Numbers, including ordinal numbers (2d, 4th), are treated as single letters
     <div class="container" ng-controller="dynamicExamplesCtrl">
      <span class="example_icon">
       <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
        «e.g.»
       </button>
       <modal visible="showModal">
        <ul>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Natural
           <font color="#FF0000">
            
           </font>
           Res.
           <font color="#FF0000">
            
           </font>
           Def.
           <font color="#FF0000">
            
           </font>
           Council
           <font color="#FF0000">
            
           </font>
           v.
           <font color="#FF0000">
            
           </font>
           NRC
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          216
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="highlight">
           F.3d
          </span>
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1180
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (D.C.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Cir.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          2000).
         </li>
         <li class="Example">
          David
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          A.J.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Richards,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="ITALICSORUNDERLINE">
           Originalism
           <font color="#FF0000">
            
           </font>
           Without
           <font color="#FF0000">
            
           </font>
           Foundations
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          65
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          N.Y.U.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          L.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Rev.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1373
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (1990)
          <span class="ITALICSORUNDERLINE">
          </span>
          (reviewing
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Robert
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Bork,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="ITALICSORUNDERLINE">
           The
           <font color="#FF0000">
            
           </font>
           Tempting
           <font color="#FF0000">
            
           </font>
           of
           <font color="#FF0000">
            
           </font>
           America:
           <font color="#FF0000">
            
           </font>
           The
           <font color="#FF0000">
            
           </font>
           Political
           <font color="#FF0000">
            
           </font>
           Seduction
           <font color="#FF0000">
            
           </font>
           of
           <font color="#FF0000">
            
           </font>
           the
           <font color="#FF0000">
            
           </font>
           Law
          </span>
          ).
         </li>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Orange
           <font color="#FF0000">
            
           </font>
           Cnty.
           <font color="#FF0000">
            
           </font>
           Agric.
           <font color="#FF0000">
            
           </font>
           Soc'y,
           <font color="#FF0000">
            
           </font>
           Inc.
           <font color="#FF0000">
            
           </font>
           v.
           <font color="#FF0000">
            
           </font>
           Comm'r
          </span>
          ,
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          893
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          <span class="highlight">
           F.2d
          </span>
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          529
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          (2d
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          Cir.
          <span class="ITALICSORUNDERLINE">
           <font color="#FF0000">
            
           </font>
          </span>
          1990).
          <br>
           <span class="ITALICSORUNDERLINE">
            <font color="#FF0000">
             
            </font>
           </span>
           = space
          </br>
         </li>
        </ul>
       </modal>
      </span>
     </div>
     .
    </p>
    <h3 class="Subsection">
     § 4-820.
     <a name="4-820">
     </a>
     Periods in Abbreviations
     <sup>
      <font size="-1">
       <sup>
        <font size="-1">
         [
         <a href="7-300.htm#7-300_4-820" target="_blank">
          BB
         </a>
         |
         <a href="7-400.htm#7-400_4-820" target="_blank">
          ALWD
         </a>
         ]
        </font>
       </sup>
      </font>
     </sup>
    </h3>
    <p class="iframe">
     <a name="4-820_frame_1">
     </a>
     <div class="ignore-on-convert" style="text-align: center;">
      <span class="Examplewindow bold">
       § 
  4-820(1) Examples Window
      </span>
     </div>
     <br>
      <div class="ignore-on-convert" style="text-align: left;">
       <div class="ExampleBox" name="4-820_frame_1">
        <ul>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Natural 
        Res. Def. Council v. NRC
          </span>
          , 216 F.3d 1180 (D.C. Cir. 2000).
         </li>
         <li class="Example">
          David A.J. 
  Richards,
          <span class="ITALICSORUNDERLINE">
           Originalism Without Foundations
          </span>
          , 
  65 N.Y.U. L. Rev. 1373 (1990) (reviewing Robert Bork,
          <span class="ITALICSORUNDERLINE">
           The 
  Tempting of America: The Political Seduction of the Law
          </span>
          ).
         </li>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Orange Cnty. Agric. Soc'y, 
    Inc. v. Comm'r
          </span>
          , 893 F.2d 529 (2d Cir. 1990).
         </li>
        </ul>
       </div>
      </div>
      <p class="text-level1">
       <span class="principle">
        <a name="4-820_1">
        </a>
        Principle 1:
       </span>
       In general abbreviations should end in a period
       <div class="container" ng-controller="dynamicExamplesCtrl">
        <span class="example_icon">
         <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
          «e.g.»
         </button>
         <modal visible="showModal">
          <ul>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Natural
             <span class="highlight">
              Res.
             </span>
             <span class="highlight">
              Def.
             </span>
             Council v. NRC
            </span>
            , 216 F.3d 1180 (
            <span class="highlight">
             D.C.
            </span>
            <span class="highlight">
             Cir.
            </span>
            2000).
           </li>
           <li class="Example">
            David
            <span class="highlight">
             A.J.
            </span>
            Richards,
            <span class="ITALICSORUNDERLINE">
             Originalism 
    Without Foundations
            </span>
            , 65
            <span class="highlight">
             N.Y.U.
            </span>
            <span class="highlight">
             L.
            </span>
            <span class="highlight">
             Rev.
            </span>
            1373 (1990) (reviewing Robert Bork,
            <span class="ITALICSORUNDERLINE">
             The 
    Tempting of America: The Political Seduction of the Law
            </span>
            ).
           </li>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Orange Cnty. Agric. Soc'y,
             <span class="highlight">
              Inc.
             </span>
             v. Comm'r
            </span>
            , 893 F.2d 529 (2d
            <span class="highlight">
             Cir.
            </span>
            1990).
           </li>
          </ul>
         </modal>
        </span>
       </div>
       .
      </p>
      <p class="text-level1">
       <span class="principle">
        <a name="4-820_2">
        </a>
        Principle 2:
       </span>
       However, abbreviations that are contractions ending with an apostrophe and the 
  last letter of the word should not be followed by a period
       <div class="container" ng-controller="dynamicExamplesCtrl">
        <span class="example_icon">
         <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
          «e.g.»
         </button>
         <modal visible="showModal">
          <ul>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Natural 
        Res. Def. Council v. NRC
            </span>
            , 216 F.3d 1180 (D.C. Cir. 2000).
           </li>
           <li class="Example">
            David A.J. 
  Richards,
            <span class="ITALICSORUNDERLINE">
             Originalism Without Foundations
            </span>
            , 
  65 N.Y.U. L. Rev. 1373 (1990) (reviewing Robert Bork,
            <span class="ITALICSORUNDERLINE">
             The 
  Tempting of America: The Political Seduction of the Law
            </span>
            ).
           </li>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Orange Cnty. Agric.
             <span class="highlight">
              Soc'y
             </span>
             , 
    Inc. v.
             <span class="highlight">
              Comm'r
             </span>
            </span>
            , 893 F.2d 529 (2d Cir. 
    1990).
           </li>
          </ul>
         </modal>
        </span>
       </div>
       .
      </p>
      <p class="text-level1">
       <span class="principle">
        <a name="4-820_3">
        </a>
        Principle 3:
       </span>
       In addition, entities that are commonly referred to by their initials may be 
  abbreviated using those initials without periods
       <div class="container" ng-controller="dynamicExamplesCtrl">
        <span class="example_icon">
         <button class="btn btn-default ignore-on-convert" ng-click="toggleModal('Success')">
          «e.g.»
         </button>
         <modal visible="showModal">
          <ul>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Natural Res. Def. Council 
    v.
             <span class="highlight">
              NRC
             </span>
            </span>
            , 216 F.3d 1180 (D.C. Cir. 2000).
           </li>
           <li class="Example">
            David A.J. 
  Richards,
            <span class="ITALICSORUNDERLINE">
             Originalism Without Foundations
            </span>
            , 
  65 N.Y.U. L. Rev. 1373 (1990) (reviewing Robert Bork,
            <span class="ITALICSORUNDERLINE">
             The 
  Tempting of America: The Political Seduction of the Law
            </span>
            ).
           </li>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Orange Cnty. Agric. Soc'y, 
    Inc. v. Comm'r
            </span>
            , 893 F.2d 529 (2d Cir. 1990).
           </li>
          </ul>
         </modal>
        </span>
       </div>
       .
      </p>
      <p class="text-level1">
      </p>
     </br>
    </p>
   </br>
  </p>
 </body>
</html>
