<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Basic Legal Citation</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../js/dynamicExamplesCtrl.js"> </script>
</head>

<body ng-app="LegalCitationApp">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.law.cornell.edu">Legal Information Institute</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li><a href="index.html"><i class="fa fa-fw"></i>Home</a>
                </li>
                <li><a href="content_index.html"><i class="fa fa-fw"></i>Index</a>
                </li>
                <li><a href="help.html"><i class="fa fa-fw"></i>Help</a>
                </li>
                <li><a href="about.html"><i class="fa fa-fw"></i>About</a>
                </li>
                <li><a href="resources.html"><i class="fa fa-fw"></i>Resources</a>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-fw"></i>eBooks <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="eBooks.html"><i class="fa fa-fw"></i>PDF</a>
                        </li>
                        <li><a href="eBooks.html"><i class="fa fa-fw"></i>ePub</a>
                        </li>
                        <li><a href="eBooks.html"><i class="fa fa-fw"></i>Mobi</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> WHAT AND WHY?<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="1_1.html">Introduction</a>
                                </li>
                                <li>
                                    <a href="1_2.html">Purposes of Legal Citation</a>
                                </li>
                                <li>
                                    <a href="1_3.html">Types of Citation Principles</a>
                                </li>
                                <li>
                                    <a href="1_4.html">Levels of Mastery</a>
                                </li>
                                <li>
                                    <a href="1_5.html">Citation in Transition</a>
                                </li>
                                <li>
                                    <a href="1_6.html">Who Sets Citation Norms</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <!-- <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li> -->
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> HOW TO CITE ...<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="2_1.html">Electronic Resources</a>
                                </li>
                                <li>
                                    <a href="2_2.html">Judicial Opinions</a>
                                </li>
                                <li>
                                    <a href="2_3.html">Constitutions &amp; Statutes</a>
                                </li>
                                <li>
                                    <a href="2_4.html">Agency &amp; Statutes</a>
                                </li>
                                <li>
                                    <a href="2_5.html">Arbitrations</a>
                                </li>
                                <li>
                                    <a href="2_6.html">Court Rules</a>
                                </li>
                                <li>
                                    <a href="2_7.html">Books</a>
                                </li>
                                <li>
                                    <a href="2_8.html">Law Journal Writing</a>
                                </li>
                                <li>
                                    <a href="2_9.html">Case Documents</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                            <li>
                            <a href="#"><i class="fa fa-fw"></i> EXAMPLES – CITATIONS OF ...<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="3_1.html">Electronic Resources</a>
                                </li>
                                <li>
                                    <a href="3_2.html">Judicial Opinions</a>
                                </li>
                                <li>
                                    <a href="3_3.html">Constitutions &amp; Statutes</a>
                                </li>
                                <li>
                                    <a href="3_4.html">Agency &amp; Statutes</a>
                                </li>
                                <li>
                                    <a href="3_5.html">Arbitrations</a>
                                </li>
                                <li>
                                    <a href="3_6.html">Court Rules</a>
                                </li>
                                <li>
                                    <a href="3_7.html">Books</a>
                                </li>
                                <li>
                                    <a href="3_8.html">Law Journal Writing</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                            <li>
                            <a href="#"><i class="fa fa-fw"></i> ABBREVIATIONS AND OMISSIONS USED IN CITATIONS<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="4_1.html">Words in Case Names</a>
                                </li>
                                <li>
                                    <a href="4_2.html">Case Histories</a>
                                </li>
                                <li>
                                    <a href="4_3.html">Omissions in Case Names</a>
                                </li>
                                <li>
                                    <a href="4_4.html">Reporters &amp; Courts</a>
                                </li>
                                <li>
                                    <a href="4_5.html">States</a>
                                </li>
                                <li>
                                    <a href="4_6.html"> Months</a>
                                </li>
                                <li>
                                    <a href="4_7.html">Journals</a>
                                </li>
                                <li>
                                    <a href="4_8.html">Spacing &amp; Periods</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> UNDERLINING AND ITALICS<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="5_1.html">In Citations</a>
                                </li>
                                <li>
                                    <a href="5_2.html">In Text</a>
                                </li>
                                <li>
                                    <a href="5_3.html">Items Not Italicized</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> PLACING CITATIONS IN CONTEXT<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="6_1.html">Quoting</a>
                                </li>
                                <li>
                                    <a href="6_2.html">Citations &amp; Related Text</a>
                                </li>
                                <li>
                                    <a href="6_3.html">Signals</a>
                                </li>
                                <li>
                                    <a href="6_4.html">Order</a>
                                </li>
                                <li>
                                    <a href="6_5.html">Short Form Citations</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> CROSS REFERENCE TABLES<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="7_1.html">Introduction</a>
                                </li>
                                <li>
                                    <a href="7_2.html">Changes in The Bluebook</a>
                                </li>
                                <li>
                                    <a href="7_3.html">Table: Bluebook </a>
                                </li>
                                <li>
                                    <a href="7_4.html">Table: ALWD Manual</a>
                                </li>
                                <li>
                                    <a href="7_5.html">Table: State-Specific Practices</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" ng-controller="dynamicExamplesCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Introduction to Basic Legal Citation (online ed. 2015)</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <p >
                    This work first appeared in 1993. It was most recently revised in the fall of 2015 following a thorough review of the actual citation practices of judges and lawyers, the relevant rules of appellate practice of federal and state courts, and the latest edition of The Bluebook, released earlier in the year. As has been true of all editions released since 2010, it is indexed to both the <i>The Bluebook</i> and the <i>ALWD Guide to Legal Citation</i>. However, it also documents the many respects in which contemporary legal writing, very often following guidelines set out in court rules, diverges from the citation formats specified by those academic texts. <a href="#" ng-model="example1" ng-click="example1 = !example1"> E.g. </a>
                    <div ng-show="example1">
                    I'm the E.g.1 part that is supposed to be dynamic.
                    </div>

                    </p>

                    <p>
                    The content of this guide is also available in three different e-book formats: 1) a pdf version that can be printed out in whole or part and also used with hyperlink navigation on an iPad or other tablet, indeed, on any computer; 2) a version designed specifically for use on the full range of Kindles as well as other ereaders or apps using the Mobi format; and 3) a version in ePub format for ereaders or apps that work with it. To access any of them, <a href="http://www.access-to-law.com/citation/" target="_blank">click here</a>. (Over 50,000 copies of the 2014 edition were downloaded.)
                    </p>
                    <p>
                    Since the guide is online, its further revision is not tied to a rigid publication cycle. Any user seeing a need for clarification, correction, or other improvement is encouraged to "speak up." What doesn't work, isn't clear, is missing, appears to be in error? Has a change occurred in one of the fifty states that should be reported? Comments of these and other kinds can sent by email addressed to <a href="mailto:peter.martin@cornell.edu">peter.martin@cornell.edu</a>. (Please include "Citation" in the subject line.) Many of the features and some of the coverage of this reference are the direct result of past user questions and advice.
                    </p>

                    <p>
                    A complementary series of video tutorials offers a quick start introduction to citation of the major categories of legal sources. They  may also be useful for review. Currently, the following are available:
                    </p>
                    <ol>
                    <li> <a href="http://www.access-to-law.com/citation/videos/citing_judicial_opinions.html" target="_blank">Citing Judicial Opinions ... in Brief</a> (8.5 minutes)</li>
                    <li> <a href="http://www.access-to-law.com/citation/videos/citing_const_statutes.html" target="_blank">Citing Constitutional and Statutory Provisions ... in Brief</a> (14 minutes)</li>
                    <li><a href="http://www.access-to-law.com/citation/videos/citing_agency_material.html" target="_blank">Citing Agency Material ... in Brief</a> (12 minutes)<br align="left"></li>
                    </ol>
                    <p align="left">
                        Finally, for those with an interest in current issues of citation practice, policy, and instruction, there is a companion blog, &quot;Citing Legally,&quot; at: <a href="http://citeblog.access-to-law.com" target="_blank">http://citeblog.access-to-law.com</a>.
                    </p>
                </div>
                <!-- /.col-lg-7-->
                <div class="col-lg-3">
                    <h2>Author</h2>
                    <img src="" alt="Peter W. Martin">
                    <h4>Peter W. Martin, Jane M.G. Foster Professor of Law, Emeritus</h4>
                    <p>Peter Martin, a former Dean of Cornell Law School and an innovator in the field of digital technology law, teaches copyright and social security law. After his graduation from Harvard Law School, Professor Martin spent three years in the Air Force MORE</p>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                    <h1 class="page-header">Resources</h1>
                    <div class="col-lg-2">
                        Video1
                    </div>
                    <div class="col-lg-2">
                        Video2
                    </div>
                    <div class="col-lg-2">
                        Video3
                    </div>
                    <div class="col-lg-2">
                        The Bluebook
                    </div>
                    <div class="col-lg-2">
                        ALWD Citation Manual
                    </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
    

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>
<navbar-fixed-bottom align="center">
    <h5>All Rights Reserved | Cornell Legal Information Institute @ 2015</h5>
</navbar-fixed-bottom>

</html>
