<!DOCTYPE html>
<html lang="en" ng-app="LegalCitationApp" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Basic Legal Citation</title>

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    
    <link href="../dist/css/citation.css" rel="stylesheet">
    <link href="../dist/css/customize.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script src="../js/controllers.js"> </script>
<!--
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!-- JAVASCRIPT to clear search text when the field is clicked -->
<script type="text/javascript">
window.onload = function(){ 
    // Get submit button
   /* tags =  {
	'1-200.html': ["<citation>"],
	'1-500.html': ["<abbreviation>"],
	'2-100.html': ["<citation>"],
	'2-200.html': ["<citation>"],
	'2-300.html': ["<citation>", "<abbreviation>"],
	'2-400.html': ["<citation>", "<abbreviation>"],
	'2-500.html': ["<citation>"],
	'2-600.html': ["<citation>"],
	'2-700.html': ["<citation>", "<abbreviation>"],
	'2-800.html': ["<citation>"],
	'2-900.html': ["<citation>"]	
			      };
		*/


    var submitbutton = document.getElementById("searchButton");
    var submitText = document.getElementById("searchText");
    //Add listener to submit button
  

    if(submitText.addEventListener){
        submitText.addEventListener("click", function() {
                submitText.value = '';
        });
    }
}
</script>

</head>

<body  class="Normal" ng-controller="mainController">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.law.cornell.edu">Legal Information Institute</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li><a href="/"><i class="fa fa-fw"></i>Home</a>
                </li>
                <li><a href="#toc"><i class="fa fa-fw"></i>Table of Contents</a>
                </li>
                <!-- <li><a href="#index"><i class="fa fa-fw"></i>Index</a> -->
                </li>
                <li><a href="#help"><i class="fa fa-fw"></i>Help</a>
                </li>
                <!-- <li><a href="#about"><i class="fa fa-fw"></i>About</a> -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw"></i>Additional Resources <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.access-to-law.com/citation/videos/citing_judicial_opinions.html" target="_blank"><i class="fa fa-fw"></i>Citing Judicial Opinions ... in Brief</a>
                        </li>
                        <li><a href="http://www.access-to-law.com/citation/videos/citing_const_statutes.html" target="_blank"><i class="fa fa-fw"></i>Citing Constitutional and Statutory Provisions ... in Brief</a>
                        </li>
                        <li><a href="http://www.access-to-law.com/citation/videos/citing_agency_material.htmll" target="_blank"><i class="fa fa-fw"></i>Citing Agency Material ... in Brief</a>
                        </li>
                        <li><a href="https://www.legalbluebook.com" target="_blank"><i class="fa fa-fw"></i>The Bluebook</a>
                        </li>
                        <li><a href="http://www.alwd.org/publications/citation-manual/" target="_blank"><i class="fa fa-fw"></i>ALWD Citation Manual</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                 </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw"></i>eBooks <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="basic_legal_citation.pdf"><i class="fa fa-fw"></i>PDF</a>
                        </li>
                        <li><a href="basic_legal_citation.epub"><i class="fa fa-fw"></i>ePub</a>
                        </li>
                        <li><a href="basic_legal_citation.mobi"><i class="fa fa-fw"></i>Mobi</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                              <!--<li class="search">
                                <input type="text" id="searchText" name="search" size="21" maxlength="120" value="Search our website">
                                <input type="submit" value="Search" id="searchButton">
                              </li> -->
			      <input type="text" id="searchText" class="form-control" placeholder="Search..." ng-model="searchText">
                              <span class="input-group-btn">
				<button id="searchButton" class="btn btn-default" type="button" ng-click="searchTag(searchText)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> WHAT AND WHY?<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li >
                                    <a href="#1-100">Introduction</a>
                                </li>
                                <li>
                                    <a href="#1-200">Purposes of Legal Citation</a>
                                </li>
                                <li>
                                    <a href="#1-300">Types of Citation Principles</a>
                                </li>
                                <li>
                                    <a href="#1-400">Levels of Mastery</a>
                                </li>
                                <li>
                                    <a href="#1-500">Citation in Transition</a>
                                </li>
                                <li>
                                    <a href="#1-600">Who Sets Citation Norms</a>
                                </li>
                            </ul>

                            <!-- /.nav-second-level -->
                        </li>
                        <!-- <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li> -->
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> HOW TO CITE ...<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#2-100">Electronic Resources</a>
                                </li>
                                <li>
                                    <a href="#2-200">Judicial Opinions</a>
                                </li>
                                <li>
                                    <a href="#2-300">Constitutions &amp; Statutes</a>
                                </li>
                                <li>
                                    <a href="#2-400">Agency &amp; Statutes</a>
                                </li>
                                <li>
                                    <a href="#2-500">Arbitrations</a>
                                </li>
                                <li>
                                    <a href="#2-600">Court Rules</a>
                                </li>
                                <li>
                                    <a href="#2-700">Books</a>
                                </li>
                                <li>
                                    <a href="#2-800">Law Journal Writing</a>
                                </li>
                                <li>
                                    <a href="#2-900">Case Documents</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                            <li>
                            <a href="#"><i class="fa fa-fw"></i> EXAMPLES – CITATIONS OF ...<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#3-100">Electronic Resources</a>
                                </li>
                                <li>
                                    <a href="#3-200">Judicial Opinions</a>
                                </li>
                                <li>
                                    <a href="#3-300">Constitutions &amp; Statutes</a>
                                </li>
                                <li>
                                    <a href="#3-400">Agency &amp; Statutes</a>
                                </li>
                                <li>
                                    <a href="#3-500">Arbitrations</a>
                                </li>
                                <li>
                                    <a href="#3-600">Court Rules</a>
                                </li>
                                <li>
                                    <a href="#3-700">Books</a>
                                </li>
                                <li>
                                    <a href="#3-800">Law Journal Writing</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                            <li>
                            <a href="#"><i class="fa fa-fw"></i> ABBREVIATIONS AND OMISSIONS USED IN CITATIONS<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#4-100">Words in Case Names</a>
                                </li>
                                <li>
                                    <a href="#4-200">Case Histories</a>
                                </li>
                                <li>
                                    <a href="#4-300">Omissions in Case Names</a>
                                </li>
                                <li>
                                    <a href="#4-400">Reporters &amp; Courts</a>
                                </li>
                                <li>
                                    <a href="#4-500">States</a>
                                </li>
                                <li>
                                    <a href="#4-600"> Months</a>
                                </li>
                                <li>
                                    <a href="#4-700">Journals</a>
                                </li>
                                <li>
                                    <a href="#4-800">Spacing &amp; Periods</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> UNDERLINING AND ITALICS<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            <li>
                                    <a href="#5-000">All Rules</a>
                                </li>
                                <li>
                                    <a href="#5-100">In Citations</a>
                                </li>
                                <li>
                                    <a href="#5-200">In Text</a>
                                </li>
                                <li>
                                    <a href="#5-300">Items Not Italicized</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> PLACING CITATIONS IN CONTEXT<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#6-100">Quoting</a>
                                </li>
                                <li>
                                    <a href="#6-200">Citations &amp; Related Text</a>
                                </li>
                                <li>
                                    <a href="#6-300">Signals</a>
                                </li>
                                <li>
                                    <a href="#6-400">Order</a>
                                </li>
                                <li>
                                    <a href="#6-500">Short Form Citations</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> CROSS REFERENCE TABLES<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#7-100">Introduction</a>
                                </li>
                                <li>
                                    <a href="#7-200">Changes in The Bluebook</a>
                                </li>
                                <li>
                                    <a href="#7-300">Table: Bluebook </a>
                                </li>
                                <li>
                                    <a href="#7-400">Table: ALWD Manual</a>
                                </li>
                                <li>
                                    <a href="#7-500">Table: State-Specific Practices</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <!-- /#wrapper -->
    <div id="page-wrapper">
        <!-- injected content -->
        <div ng-controller="dynamicExamplesCtrl">
            <div ng-view></div>
        </div>
    </div>
    <!-- #page-wrapper -->
    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>    

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js
"></script>

</body>
<navbar-fixed-bottom align="center">
    <h5>All Rights Reserved | &copy; 2015 by Peter W. Martin</h5>
</navbar-fixed-bottom>
<head>

<script type = "text/javascript">
$('.nav .nav-second-level li a').click(function() {

    $(this).parent().parent().find('.active').css('color', '#337ab7');
    $(this).parent().parent().find('.active').css('font-weight', 'normal');
    $(this).parent().parent().find('.active').removeClass('active');
    $(this).addClass('active');
    $(this).addClass('active').css('font-weight', 'bold');
    $(this).addClass('active').css('color', '#2C279C');
    if($(window).width() <= 768){
        $('button.navbar-toggle').trigger("click");
    }

});

// $(document).ready(function(){
    
// })

</script>

</head>
</html>
