/* CSS Document */

/* @import url("cu/main.css"); */
@import url("jquery.fancybox-1.2.6.css");

/* reset */
H1, H2, H3, H4, H5, H6 {
 margin: 0;
 padding: 0;
}

/* generic */

body {
  background: #fff;
  font-size: 62.5%;
  font-family: Verdana, 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; 
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

h1 {
  font-size: 2.4em;
  font-weight: normal;
}

h2 {
  font-size: 2.0em;
  font-weight: normal;
}

h3 {
  font-size: 1.8em;
  font-weight: normal;
}

h4 {
  font-size: 1.6em;
  font-weight: normal;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
  MARGIN-LEFT: 10px;
  PADDING-LEFT: 10px;
}

P, LI, DD, DT, TD, BLOCKQUOTE {
FONT-SIZE: 1.3em;
}

LI LI {
 FONT-SIZE: 1em;
}

/* cu-main */
#cu-identity {
/*
	background: #68645b url(../images/layout/header_bg/6.jpg) no-repeat top center; */
	}

DIV#search-navigation {
 float: right;
}

DIV#search-navigation ul {
 margin-top: 45px;
 list-style-type: none;
}	

DIV#search-navigation li {
 float: left;
}
	
DIV#search-navigation a {
 color: #fff;
 padding: 3px 10px;
 text-decoration: none;
}

DIV#search-navigation a:hover {
 background: #444;
}
/* end cu main */

/* container into which the real stuff gets shoehorned */
	
	/* accessibility - for screen readers */
  .skipNav, #skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
  {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #skip-to-nav a:active, #skip-to-nav a:focus
  {
    position: static;
    width: auto;
    height: auto;
  }
	
	/* enormous page-containing DIVs */
		DIV#container {
		 MARGIN: 0 auto; 
		 BORDER: solid 1px #333;
/*		 PADDING: 1px; */
		 BACKGROUND: #333;
		 BACKGROUND: #68645b;
		 MIN-HEIGHT: 1200px;	
		}
		
		DIV.ours {
		 WIDTH: 960px;
		 MARGIN: 0 auto;
		}
		
		DIV.collection {
		 WIDTH: 960px;
		 MARGIN: 0 auto;
		 BACKGROUND: #fff;
		}
	
	/* CU  */
		#cu-head { 
		 HEIGHT: 75px;
		 BACKGROUND: #68645b;
		}
		
		#cu-identity {
		 WIDTH: 960px;
		 MARGIN: 0 auto;
		}
		#cu-logo {
		 FLOAT: left;
		 CLEAR: left;
		}
		
		A>IMG {
		 BORDER: 0;
		}
		
		IMG#insig {
		 WIDTH: 54px;
		 HEIGHT: 45px;
		 BORDER: 0;
		}
		IMG#cls {
		 WIDTH: 200px;
		 HEIGHT: 45px;
		 BORDER: 0;
		}
		/* 2006-05-01 we heart CLS */
		DIV#cu-logo A:hover IMG#insig  {
		BACKGROUND: #555;
		}
		DIV#cu-logo A:hover IMG#cls  {
		BACKGROUND: #555;
		}
		/* end 2006-05-01 */
		
		#cu-search {
		 BACKGROUND: #68645b;
		}
		#cu-search a {
		 FLOAT: right;
		 MARGIN-TOP: 5px;	
		 MARGIN-RIGHT: 5px;
		 PADDING: 10px;
		 FONT-SIZE: 1em;
		 COLOR: #fff;
		 TEXT-DECORATION: none;
		 BORDER: none;
		 BACKGROUND: #68645b;
		 }
		 
		#cu-search a:hover {
		 BACKGROUND: #555;
		}
	
	/* any header */
		.header {
		 CLEAR: both;
		 WIDTH: 960px;
		 MARGIN: 0 auto;
		 PADDING: 0;
		}
	
	/* sitewide header */
	
		#lii-head {
		 WIDTH: 960px;
		 MARGIN: 0 auto;
		 PADDING: 0;
		 BACKGROUND: #ccc;
		}
		
		DIV.liiround {
		
		}
		
		#lii-logo {
		 BACKGROUND: url("images/cr1.gif") no-repeat top left;
		}
		
		#lii-logo {
		 FLOAT: left;
		}
		
		#lii-logo a { 
		 MARGIN: 0;
		 PADDING: 2px 10px;
		 COLOR: #333;
		 FONT-SIZE: 1.2em;
		 TEXT-DECORATION: none;
		}
		
		#lii-logo a:hover, #lii-nav a.nav:hover, #collection-logo a:hover {
		 TEXT-DECORATION: none !important;
		 BACKGROUND: #f0f0f0;
		
		}
		DIV#lii-nav {
		 BACKGROUND: url("images/cr1.gif") no-repeat right -100px;
		 FLOAT: right;
		 PADDING-TOP: 5px;
		}
		
		#lii-nav UL, #lii-nav LI a {
		 BACKGROUND: #ccc;
		}
		
		#lii-nav UL {
		 MARGIN: 0.6em 0 0 0;
		 LIST-STYLE-TYPE: none;
		}
		
		#lii-nav LI { 
		 FLOAT: left; 
		 PADDING: 4px 0 0 0;
		 FONT-SIZE: 1em;
		}
		
		#lii-nav li a {
		 PADDING: 3px 9px;
		 TEXT-DECORATION: none;
		 COLOR: #333;
		}
		
	/* collection-level header */
	
		#collection-head {
		 WIDTH: 960px;
		 MARGIN: 0 auto;
		 BACKGROUND: #f0f0f0;
		}
		
		#collectionchunk {
		 FLOAT: left;
		 PADDING-TOP: 10px;	
		}
		
		H1#collection-logo {
		 FONT-SIZE: 1em;
		}
		
		#collection-logo a, #collection-logo a:visited {
		 PADDING: 0 10px;
		 FONT-SIZE: 2em;
		 TEXT-DECORATION: none !important;
		 COLOR: #333;
		}
		
		#collection-logo a:hover {
		 BACKGROUND: #ccc;
		}
		
		#collection-nav {
		 MARGIN: 0;
		 PADDING: 0;
		 FONT-SIZE: 1em;
		/* FLOAT: right;
		 MARGIN: 2em 1em; */
		}
		
		#collection-nav UL {
		 MARGIN: 0;
		 LIST-STYLE-TYPE: none;
		}
		
		#collection-nav LI { 
		 FLOAT: left; 
		 PADDING: 4px 0 0 0;
		 FONT-SIZE: 1em;
		}
		
		#collection-nav LI a {
		 PADDING: 3px 5px;
		 TEXT-DECORATION: none;
		 COLOR: #333;
		}
		
		#collection-nav a:hover {
		 BACKGROUND: #ccc;
		}
		
		DIV#collection-pic, DIV#embed-pic {
		 FLOAT: right;
		 MARGIN: 0;
		 PADDING: 0 10px;
		}
		
		DIV#collection-pic IMG {
		 MARGIN: -1em 0;
		 PADDING: 1px;
		}
		
		DIV#embed-pic IMG {
		 MARGIN: -2em 0 0 0;
		 PADDING: 1px;
		}
		
		#topNav FORM { 
		 VERTICAL-ALIGN: middle;
		 DISPLAY: inline;
		}
		
		#topNav INPUT {
		 VERTICAL-ALIGN: middle;
		}
		#topNav INPUT.txtbox {
		 MARGIN: 2px;
		}
		#topNav INPUT.btn {
		 MARGIN: 2px;
		 COLOR: #333;
		}
		
	/* middle */
	
		DIV#middle {
		 CLEAR: both;
		 WIDTH: 960px;
		 MARGIN: 0 auto;
		 PADDING: 0;
		 BACKGROUND: #fff;
		 MIN-HEIGHT: 1000px;
		}
		
		DIV#middle DIV.breathe {
		 PADDING: 5px 10px;
		}
		
		BR.clear, HR.clear {
		 CLEAR: both;
		 VISIBILITY: hidden;
		 MARGIN: 0;
		 PADDING: 0;
		}
		BR.clear {
		 FONT-SIZE: 1px;
		 LINE-HEIGHT: 1px; 
		}
		HR.clear {
		 BORDER: none;
		}
		
	/* 3-column layout */

DIV.statute, BODY#states DIV#content { 
 float: left;
 WIDTH: 540px; 
 margin-left: 180px; 
 margin-right: -780px;  
 PADDING: 0 10px;
}
* HTML DIV.statute, * HTML BODY#states DIV#content {
 margin-left: 80px;
}
DIV.annot-left { 
 float: left;
 width: 160px;
 margin-left: 0;
 margin-right: -180px;
 padding: 0; /* add padding to interior blocks */
 font-size: 1em;
}
* HTML DIV.annot-left {
 margin-left: -80px;
}

BODY#rulespg DIV.statute {
 MARGIN-LEFT: 0;
}

BODY#rulespg DIV.annot-left {
 width: 0;
}

DIV.annot-right { 
 float: left;
 width: 160px;
 margin-left: 780px; 
 margin-right: -960px; 
 padding: 0; /* add padding to interior blocks */
 font-size: 1em;
}
* HTML DIV.annot-right {
 margin-left: 380px;
 margin-right: 0;
 clear: right;
}

BODY#rulespg DIV.annot-right {
 width: 300px;
 margin-left: 640px;
}

/* ad stuff added */

div.block {
 padding: 8px;
/* border: solid 2px #ccc; */
 margin: 5px 0;
}

div#block_sponsor_top {
}
div#block_sponsor_mid {
}
div#block_sponsor_bottom {
 text-align: center;
}

	div.sponsormsg {
	 background: #fff;
	} 
	P.sponsor-fullurl {
	}
	P.sponsor-fullurl a, a span.sponsor-fullurl, a span.sponsor-header, div#block_justanswer a  {
	display: block;
	font-weight:bold;
	font-size:1.2em;
	color:#b31b3b;
	text-decoration:underline;
	}
	P.sponsor-tagline1, P.sponsor-tagline2, P.sponsor-tagline-2, a span.sponsor-tagline1, a span.sponsor-tagline2, a span.sponsor-tagline-2 {
	display: block;
	font-size:1.1em;
	color:#000;
	}
	P.sponsor-displayurl, a span.sponsor-displayurl{
	  display: block;
	  font-size:0.9em;
	  margin-top:2px;
	}

div#block_justanswer {
  border: solid 2px #ccc;
} 

div#block_justanswer a span {
 text-decoration: none !important;
}

div#block_adsense {

}

div#block_adsense P.whine { font-size: 1em; }


/* clump search, notes, rss, updates, parallel auth table #lii_collection_utils */

div#block_search, div#block_notes, div#block_rss, div#block_update, div#block_plltable, div#block_pdf {
 padding: 0;
 border: none;
 margin: 0;
}

div.blockgroup {
 padding: 8px;
 border: solid 2px #ccc;
 margin: 5px 0;
}

/*  */

div#block_addthis {
 padding: 10px 0 0 0;
 border: none;
}

div#block_search {
 
}

div#block_search input {
 margin-bottom: 5px;
}

div#block_search input[name="query"] {
 width: 135px;
}

div#block_notes {

}

div#block_rss {

} 

div#block_update {

} 
div#block_plltable {

}
div#block_pdf {

}

div#justia_find_lawyers {

}

	div#justia_find_lawyers p {
	font-size: 1em;
	}

	.lawyer-entry-pic img {
	 display: block; 
	 float: left;
	 clear: left;
	 padding: 0 10px 5px 0;
	}
	
	div#lawyers_search_results {
	 clear: both;
	}
	
	div#lawyers_search_results strong.lawyer-profile-head{
		display: block;
		clear: both;
		font-weight: bold;
		line-height: 1.1;
	}
	
	div#lawyers_search_results div.lawyers-get-listed, div#lawyers_search_results div.lawyers-get-listed{
		display: block;
		clear: both;
		margin-bottom: 5px;
		font-size: 0.72em;
	}
	
	
	div#lawyers_search_results div.lawyers {
	 padding: 0;
	}
	
	div#lawyers_search_results div.lawyers div.lawyer-entry-odd:first-child {
		border-top: solid 2px #ccc;
	}
	
	div#lawyers_search_results div.lawyers div.lawyer-entry-odd{
		clear: both;
		border-bottom: solid 2px #ccc;
		margin: 0;
		padding: 10px 0;
	}
	div#lawyers_search_results div.lawyers div.lawyer-entry-even{
		clear: both;
		border-bottom: solid 2px #ccc;
		background: #f0f0f0;
		padding: 10px 0;
	}
	div.lawyer-entry-pic{
	
	}
	p.lawyer-entry-name{
		color: #000066; /* blue */
		margin: 0;
		font-size: 1em;
		line-height: 1.2;
	}
	div.lawyer-entry-pa{
		color: #000; /* black */
	}
	div.lawyer-entry-pa-sidebar{
		color: #000; /* black */
		text-overflow: ellipsis;
		overflow-x: hidden;
		overflow-y: hidden;
		white-space: nowrap;
	}
	* HTML div.lawyer-entry-pa-sidebar {
	 width: 120px !important;
	}
	div.lawyer-entry-loc{
		color: #000066; /* blue */
	}
	p.lawyer-entry-badge{
		clear: both;
		margin-top: 0;
		margin-bottom: 1px;
	}
	p.lawyers-see-all {
		clear: both;
	}


/* end blocks */
	
	/* footer styles */
		
		#footer { 
		 CLEAR: both; 
		 /*WIDTH: 960px;*/
		 WIDTH: 960px;
		 MARGIN: 0 auto;
		 BACKGROUND: #ccc;
		 TEXT-ALIGN: center;
		}
		
		#footer .footerNav {
/*		 BACKGROUND: url("/images/br.gif") bottom right no-repeat; */
		}
		
		#footer .footerNav DIV {
/*		 BACKGROUND: url("/images/bl.gif") bottom left no-repeat; */
		}
		
		#footer UL {
		/* was 25 em */
		 WIDTH: 600px;
		 MARGIN: 0 auto 10px;
		 PADDING: 10px 0;
		}
		
		#footer LI {
		 FLOAT: left;
		 PADDING: 0;
		 MARGIN: 0 0.5em;
		 COLOR: #333;
		 LIST-STYLE-TYPE: none;
		}
		#footer LI A {
		 TEXT-DECORATION: none;
		 COLOR: #333;
		 PADDING: 0.5em;
		}
		
		#footer LI A:hover {
		 TEXT-DECORATION: none;
		 BACKGROUND: #f0f0f0;
		}
 
/* 2005-10-06 headers indicate "you are here" */
		BODY.homepg a#homelink, BODY.hitlist a#searchlink, BODY#search a#searchlink, BODY.tellmore a#telllink, BODY#tellmore a#telllink, BODY.donors a#donorlink, BODY.faq a#faqlink, BODY#faq a#faqlink, BODY#faq a#aboutlink, BODY#about a#aboutlink, BODY#subscribe a#subscribelink, BODY#main a#homelink, BODY#liihome DIV#lii-nav A#liihomelink,
		BODY#liisearch DIV#lii-nav #liisearchlink,
		BODY#liisitemap DIV#lii-nav A#liisitemaplink,
		BODY#liidonate DIV#lii-nav A#liidonatelink {
		 FONT-WEIGHT: bold;
		}
		
		 
/* emphasize $$$-begging */
		LI A#liidonatelink, LI A#liidonate {
		 MARGIN-RIGHT: 1.5em;
}

/* also emphasize money-grubbing activities of other kinds */
                LI A#liilawyerlink, LI A#liifootlawyerlink {
}

/* some retcons */
		P.contentIntro { PADDING: 2px 5px; FONT-SIZE: 1em; }
		DIV.contentIntro { MARGIN: 2px 5px; FONT-SIZE: 1em; }
		.indented, .toc { MARGIN-LEFT: 50px; MARGIN-right:50px; }
		.wasBlockquote { MARGIN-LEFT:50px; MARGIN-right:50px; }
		.allcaps { text-transform: uppercase; }
		.smallcaps { font-variant: small-caps; }
		.extraSpot 	 { FONT-SIZE: 2em; COLOR: yellow; FONT-WEIGHT: bold;}
		.emergency, .loud { COLOR: red; }
	
		/* for embedded definitions */
		A.defn_embed { text-decoration: none; }
		A.defn_embed:link:hover { text-decoration: underline; }

	
/* swish-e search result styles */

		SPAN.speling, .speling {
		 FONT-STYLE: italic;
		 color: red;
		}
		
		SPAN.highlight {
		 COLOR: red;
		 FONT-WEIGHT: bold;
		}
		
		BODY.hitlist H1.hitlist {
		 MARGIN-LEFT:40px;
		 MARGIN-RIGHT:40px;	
		 FONT-SIZE: 1.8em;
		}
		
		BODY.hitlist H2 {
		 MARGIN-LEFT:40px;
		 MARGIN-RIGHT:40px;
		 PADDING-TOP: 1ex;
		 PADDING-LEFT:10px;
		 PADDING-RIGHT:10px;
		 BORDER-TOP: solid 2px #ccc;
		 FONT-SIZE: 1.7em
		} 
		
		BODY.hitlist H3 {
		 MARGIN-LEFT:50px;
		 MARGIN-RIGHT:50px;
		 PADDING-LEFT:10px;
		 PADDING-RIGHT:10px;
		 PADDING-TOP: 1ex;
		 BORDER-TOP: solid 1px #ccc;
 		}
		
		BODY.hitlist H4 {
		 COLOR: #000000;
		 MARGIN-LEFT:60px;
		 MARGIN-RIGHT:60px;
		 PADDING-LEFT:10px;
		 PADDING-RIGHT:10px;
		 FONT-WEIGHT: BOLD;	
		}
		
		BODY.hitlist DIV#middle DIV.swsearchbox {
     	MARGIN-LEFT:60px;
		MARGIN-RIGHT:60px;
		FONT-SIZE: 1.2em;
		}
		
		/* general rule */
		DIV.swsmallhelp { 
		MARGIN-LEFT: 70px;
     	FONT-STYLE: italic;
		FONT-SIZE: 0.7em;
		}
		/* but sometimes swsmallhelp is inside the swsearchbox div */
		BODY.hitlist DIV.swsearchbox DIV.swsmallhelp {
		MARGIN-LEFT: 20px;
		}
		
		H4.swsubtitle {
		 FONT-SIZE: 1em;	
		}
		
		BODY.hitlist P {
		 MARGIN-LEFT:50px;	
		}
		BODY.hitlist P.featured {
		 MARGIN-LEFT: 80px;	
		 FONT-WEIGHT: bold;
		}
		
		BODY.hitlist UL.navline {
		 COLOR: #ccc;
		 MARGIN: 1em60px;
		}

		UL.navline LI {
		 COLOR: #999;
		 FLOAT: left;
		 PADDING-RIGHT: 1.5em;
		}

		DL.swhitlist { 
		 MARGIN-LEFT: 80px;
		 MARGIN-RIGHT: 80px;	
		}
		TABLE.swhitlist {
		 MARGIN-LEFT: 80px;
		 MARGIN-RIGHT: 80px;
		}
		TR.swhit { 
		vertical-align: top;
		}
		.swtitle { 
		vertical-align: top;
		}
		TD.swrank IMG {
		vertical-align: text-top;
		MARGIN: 0;
		PADDING: 0.5em;
		}
		TD.swtitle {
		 vertical-align: top;
		 MARGIN: 0;
		 PADDING: 0.5em;
		 }
		
		.swsearchparrot { 
		 FONT-SIZE: 1.1em;}
		 DL.swhitlist {
		 FONT-SIZE: 1em;	 
		 }
		 DL.swhitlist DT.popnames { 
		 MARGIN-TOP: 1em;
		 }
		 DL.swhitlist DD.popnames { 
		 }
		/* hitlist styles */
		
		UL.HITLIST{ MARGIN-LEFT: 100px;; }
		DIV.HITLIST UL { MARGIN-LEFT: 100px;; }
		LI.HITLIST { MARGIN-LEFT: 0; }
		DIV.HITLIST LI { MARGIN-LEFT: 0; }
		DIV.HITLIST P { MARGIN-LEFT: 0; }

	
/* 2005-06-16 */
/* separating columns from one another and from wide chunks */ 
		DIV.oneColumn, DIV.twoColumns, DIV.threeColumns {
		 CLEAR: both;
		 MARGIN: 1ex auto;
		}
		
		/* temporary */
		
		/* use to get rid of initial bullet */
		BODY.text UL.navline LI:first-child	
		{
		  LIST-STYLE-TYPE: none;	
		}
		BODY.text UL.navline+TABLE {
		 CLEAR: both;
		 MARGIN-TOP: 2em;
		}
		
		BODY.text TABLE {
		 WIDTH: 850px;
		 MARGIN: 0 auto;
		}
		
		BODY.text TABLE TD {
		 TEXT-ALIGN: top;
		}
		
		BODY.text TH[scope="col"] {
		 border-bottom: solid 1px #ccc;
		}
		
		/* temp - ie,nn ickyness */
		BODY#faq DIV#middle UL {
			MARGIN-LEFT:60px;
			PADDING-LEFT:50px;
		}
		
		BODY.linklist DIV.linklist, BODY.text DIV.linklist {
		 CLEAR: both;
		 MARGIN-LEFT: auto;
		 MARGIN-RIGHT: auto;
		}
		BODY.linklist DIV.text {
		}
		
		/* end temporary */
		
		/* each of two equal columns */
		DIV.oneOfTwo, UL.oneOfTwo {
		 FLOAT: left;
		 WIDTH: 460px;
		 PADDING: 0 10px;	
		 BACKGROUND: #fff;	
		}
		
		/* each of three equal columns */
		DIV.oneOfThree, UL.oneOfThree {
		 FLOAT: left;
		 WIDTH: 290px;
		 PADDING: 0 10px;	
		 BACKGROUND: #fff;
		}
		
		.oneOfThree LI, .oneOfTwo LI {
		 LIST-STYLE-TYPE: none;
		}
		
		DIV#middle DIV.disclaimer {
		 WIDTH: 100%;
		 MARGIN: 0 auto;	
		}
			
		DIV.largerOfTwo, DIV#content {
		 FLOAT: left;
		 WIDTH: 600px;
		 PADDING: 0 10px;
		}
		
		.smallerOfTwo, #menu {
		 FLOAT: left;
		 WIDTH: 300px;
		 PADDING: 0 10px;
		 BACKGROUND: #f0f0f0;
		}
		
		div.smallerOfTwo ul, div#menu ul {
		MARGIN-LEFT: 20px;
		}
		
		DIV.paris {
		 FLOAT: right;
		}
		DIV.paris, DIV.paris A, DIV.paris IMG, DIV.paris A IMG 
	    { 
		 MARGIN: 0;
		 PADDING: 0;	
		}
		
		.smallOneOfThree {
		 FLOAT: left;
		 WIDTH: 200px;
		 PADDING: 0 10px;
		} 
		
		DIV#middle DIV.smallOneOfThree {
		 BACKGROUND: #f0f0f0; 
		}
		
		.largeOneOfThree {
		 FLOAT: left;
		 WIDTH: 470px;
		 PADDING: 0 10px
		}

/* tmplogo */

span.liitmplogo {
 font-family: Georgia, 'Times New Roman', serif; 
 font-size: 36px; 
 color: #b31b1b;
 padding: 0;
}

/* fr */

div#home-video {
 border: solid 1px #ccc;
 background: #fff;
}

div#donationrequest {
 padding-left: 100px;
}

div#frtxt p, a#frtxt {
 display: block;
 font-weight: bold;
 margin: 0;
 text-align: center;
}

div#frtxt p a {
color: #000066;
text-decoration: underline !important;
/* background: url('/images/pleasegive.gif') no-repeat; */
}

div#frchunk a#frtxt {
 color: #000;
 text-decoration: none !important;
}

div#frchunk a#frtxt span#plsgive {
 color: #000066;
 text-decoration: underline !important;
}

/* end fr */






/* hack, hackity hack... don't you just adore IE? */

ß
/* @import ("url") media; doesn't work in IE6 and below, so we're including the print stylesheet here */
	@media print {
	BODY, * HTML BODY, *+HTML BODY {
	 WIDTH: auto !important;
	 HEIGHT: auto !important;
	 MIN-HEIGHT: 100% !important;
	 MARGIN: auto !important;
	 BORDER: 0px !important;
	 BACKGROUND: #fff !important;
	 COLOR: #000 !important;
	}
	
	DIV#container, DIV.ours, DIV.collection, DIV#middle, DIV#cu-identity,  DIV#collection-head, DIV#cu-head, DIV#lii-head, DIV#collectionchunk, TABLE {
	 WIDTH: auto !important;
	 HEIGHT: auto !important;
	 MARGIN: auto !important;
	 BORDER: 0px !important;
	 FLOAT: none !important;
	 BACKGROUND: #fff !important;
	 COLOR: #000;
	 }
	 
	DIV#collectionchunk, DIV#collection-head, DIV#cu-head, DIV#lii-head, DIV.header, DIV#footer {
	 HEIGHT: 2em !important; 
	}
	
	DIV#cu-search, DIV#lii-nav, DIV#collection-nav, .smallerOfTwo, .smallOneOfThree, #menu, #collection-pic, DIV#collection-pic IMG, DIV#footer, DIV.paris, BR.clear {
	 DISPLAY: none !important;
	}  
	
	/* temp for still-in-tables nav */
	TABLE IMG, TABLE FORM, TABLE INPUT, TABLE SELECT, TABLE TD A.nav {
	 DISPLAY: none; 
	}
	
	div#campaign-video {
 		display: none;
	}
}
