body
  {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
 /*   font-size: 100%; /* corrects weird IE sizing problem */
    font-size: 80%;
    background: #fff; /* white */
    color: #000; /* black */
  }

/** LII home pg **/

#liihomepg h1, body.front h1 {
 text-align: center;
}

body.front .meta .terms {
 display: none;
}

#liihomepgsm {
 float: right;
 width: 280px;
}

#liihomepglg {
 float: left;
 width: 670px;
}

.liihomepgchunk ul li {
 float: left;
 list-style-type: none;
 padding: 10px;
}

#liihomepgsearch {
 font-weight: bold;
 background: #f0f0f0;
 margin: 10px;
 padding: 10px;
 border: solid 1px #ccc;
 text-align: center;
}

#liihomepgmenu .liihomepgchunk {
 margin: 10px;
 padding: 10px;
 border: dotted 1px #ccc;
}

#liihomepgmenu ul {
 clear: both;
}

#lii_intro {
 text-align: center;
 padding: 10px 0 0 0;
 border: solid 1px #ccc;
}



/** LII visual wrapper **/

div#liicontainer {
 background: #68645b; /* cu dk grey */
 width: 100%;
}

div#ours {
 min-height: 1200px;
}

br.clear, hr.clear {
 clear: both;
 margin: 0;
 padding: 0;
 line-height: 0;
 font-size: 0;
 border: none;
 height: 0px;
 width: 0px;
}

/* accessibility - for screen readers */
.skipNav, a.skipNav:visited {
 position: absolute;
 left: -9000px;
 top: -9000px;
}

/* cu */

#cu-head {
 height: 75px;
 max-width: 960px;
 margin: 0 auto;
 background: #68645b; /* cu dk grey */
}
* html #cu-head {
 width: 960px;
}

#cu-identity {
 max-width: 960px;
}
* html #cu-identity {
 width: 960px;
}

#cu-logo {
 float: left;
}

#cu-logo a:hover img {
 background: #555; /* grey */
}

#search-navigation ul {
 font-size: 1em;
 margin-top: 20px;
 float: right;
 list-style-type: none;
 list-style-image: none;
} 

#search-navigation ul li {
 float: left;
 padding: 10px 0 0 0;
 background: none;
}

#search-navigation ul li a {
 color: #fff; /* white */
 padding: 10px;
 text-decoration: none;
}

#search-navigation ul li a:hover {
 background: #555; /* grey */
}

#lii-head {
 clear: both;
 max-width: 960px;
 margin: 0 auto;
 padding: 0;
 background: #ccc; /* grey */
 height: 45px;
}

#lii-head div {

}

#lii-logo {
 background: url("lii/cr1.gif") no-repeat top left;
}

#lii-logo, #collection-logo {
 float: left;
}

#lii-logo a {
 margin: 0;
 padding: 6px 15px;
 color: #333; /* dk grey */
 font-size: 18px;
 line-height: 38px;
 text-decoration: none;
}

#lii-logo a:hover, #lii-nav a.nav:hover, #collection-logo a:hover {
 text-decoration: none;
 background: #f0f0f0; /* lt grey */
}

#lii-nav {
 background: url("lii/cr1.gif") no-repeat right -100px;
 float: right;
}

#lii-nav ul, #lii-nav li a {
 background: #ccc; /* grey */
}

#lii-nav ul, #collection-nav ul {
 list-style-type: none;
}

#lii-nav li {
 float: left;
 margin-top: 0px;
 padding: 0 1px;
 font-size: 1em;
 line-height: 16px;
}

#lii-nav li a  {
 padding: 3px 9px;
 text-decoration: none;
 color: #333; /* dk grey */
}

#collection-head {
 height: 30px;
 max-width: 960px;
 margin: 0 auto;
 padding: 10px 0 20px 0;
 background: #f0f0f0; /* lt grey */
 clear: both;
}

#collectionchunk {
 width: 100%;
 float: left;
 margin: 0;
 padding: 5px 0;
 background: #f0f0f0; /* lt grey */
 margin-bottom: 10px;
}

#collection-logo {
 margin: 0 0 5px 0;
 padding: 0;
 width: 100%;
}

#collection-logo a {
 font-size: 1.8em;
 margin: 4px 2px 0 0;
 padding: 0 15px;
}

#collection-logo a, #collection-logo a:visited {
 text-decoration: none;
 color: #333; /* dk grey */
}

#collection-logo a:hover {
 background: #ccc; /* grey */
}

#collection-logo a span#collection-description {
 font-size: 0.5em;
 font-style: italic;
}

#collection-nav {
 margin: 0;
 padding: 0 10px;
 font-size: 0.9em;
}

#collection-nav ul {
 margin: 0;
 list-style-type: none;
}

#collection-nav ul li {
 float: left;
}

#collection-nav ul li a {
 text-decoration: none;
 color: #333; /* dk grey */
 margin: 0 3px;
 padding: 3px 6px;
}

#collection-nav ul li a:hover {
 background: #ccc; /* grey */
}

div#liifooter {
background: #ccc; /* grey */ 
clear: both;
margin: 0 auto;
max-width: 960px;
text-align: center;
}

div#liifooter ul {
 list-style-type: none;
 list-style-image: none;
 margin: 0 auto;
}

div#liifooter ul li {
 background: none;
 float: left;
 margin: 0 0.5em;
 padding: 0 0.5em;
 font-size: 0.9em;
}

div#liifooter ul li a {
 text-decoration: none;
 color: #333; /* dk grey */
}

div#liifooter ul li a:hover {
 text-decoration: none;
 background: #f0f0f0; /* lt grey */
}

/** LII: per-content-type **/

body.node-type-wex-cck div.meta div.terms {
 float: right;
 clear: both;
}

/* liib suppress bold */

body.node-type-bulletin-cck b {
 font-weight: normal;
}

/* liib keywords all caps */
body.node-type-bulletin-cck h2.keywords {
 text-transform: uppercase;
}

/* quicktabs wrapper */
body.node-type-wex-cck div.quicktabs_wrapper {
 margin-top: 30px;
}

/* ugh - profile quick fixes */

dt.profile-profile_firstname, dt.profile-profile_middlename, dt.profile-profile_lastname, dt.profile-profile_bio {
 display: none;
} 
dd.profile-profile_firstname, dd.profile-profile_middlename, dd.profile-profile_lastname {
 display: inline;
 font-weight: bold;
 font-size: 1.2em;
}

body.not-logged-in.section-user dl.user-member {
 display: none;
}
body.not-logged-in.section-user h1 {
 display: none;
}

body.page-supct-cert-09board div#content-inner {
 margin: 0 auto;
}