@charset "UTF-8";
/* CSS Document */

/* @import url("http://www.law.cornell.edu/css/lii10.css"); */
div#lii-logo a {
 font-size: 1em;
}

#fundraiser {
	width:400px;
	position:absolute;
	background:white;
	z-index:99;
	display:none;
}

#fundraiser-screen {
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	opacity:0.5;
	filter:alpha(opacity=50);
	z-index:98;
	display:none;
}

#close-button:hover {
	cursor:pointer;
	color:#B31B1B;
}

#fundraiser-close-button:hover {
	cursor:pointer;
	color:#B31B1B;
}

#fundraiser-head {
	background:none repeat scroll 0 0 #CCCCCC;
}

#fundraiser-head #lii-right {
	background-image:url("http://www.law.cornell.edu/images/cr1.gif");
	background-position:right -100px; 
	background-repeat:no-repeat;
	background-color:transparent;
	float:right;
	height:20px;
	padding:5px 10px 0 0;
}

#fundraiser-content {
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:0;
}

#fundraiser-content p.message {
	padding:0 10px 0 10px;
}

#fundraiser-content p.cta {
	font-size:150%;
	text-align:center;
}

#fundraiser-footer {
	background:none repeat scroll 0 0 #CCCCCC;
	text-align:center;
}

#fundraiser-footer #fundraiser-buttons {
	padding:10px 0 10px 0;
	text-align:center;
}

#fundraiser-footer #fundraiser-buttons button {
	cursor:pointer;
	color:white;
	background-color:#333;
}

#fundraiser-footer #fundraiser-buttons button:hover {
	background-color:black;
} 

#fundraiser-footer #fundraiser-buttons #do-donation {
	font-size:200%;
	background-color:#B31B1B;
}

#fundraiser-footer div.corners {
	height:20px;
	width:20px;
	background-color:transparent;
	background-repeat:no-repeat;
	margin-top:-20px;
}

#fundraiser-footer #cr_btm_left {
	background-image:url("http://www.law.cornell.edu/images/cr_btm.gif");
	background-position:left top;
	float:left;
}

#fundraiser-footer #cr_btm_right {
	background-image:url("http://www.law.cornell.edu/images/cr_btm.gif");
	background-position:right top; 
	float:right;
}
