/* CSS Document */

#nav {
 width: 15em;
 margin: 0;
}
	
#navBox {
float: left;
left: 0;
margin-right: 2em;
}

.navMenu ul {
	padding: 0px 5px;	
	background-color: #ffffff;
	list-style-type: none;
}

.navMenu #nav a {
	text-decoration: none;
	font-weight: bold;
}
/* NEW -- style for list headers*/
.navMenu #nav li a {
 	display: block;
	margin: 0;
	padding: 0;	
 	padding: 5px;	
 	color: #ffffff;
	background: #000066;
/*	border-bottom: solid #ffffff 1px;
*/
}
	
.navMenu #nav li a:hover {
 	display: block;
 	background: #ffffff; 
 	color: #000066;
}
/* END NEW */

.navMenu #nav li li a {
	display: block;
	padding: 0px 10px;	
	color: #000066;
	font-weight: normal;
	color: #000066;
	background-color: #cccccc;
}

.navMenu #nav li li a:hover {
	padding: 0px 5px;	
	border: 5px solid #000066;
	border-width: 0 5px;
	color: #000066;
	background-color: #ffffff;
}

.navMenu li {
	margin: 0px 0px;
	text-align: left;
/*	cursor: default;	*/
/*	border-bottom: 1px solid #333333;	*/
	border-bottom: solid #ffffff 1px;
	list-style-type: none; /* redundant, but needed to eliminate bullets in IE/Mac & Mozilla */
; width: 100%
/*	border-width: 1px 0;	*/
}

.navMenu li#first {
	border-top-width: 1em;
	border-top: solid 1em #cccccc;
/* or left for horiz menus*/
}

.navMenu li#last {
	border-bottom-width: 1em; 
	border-bottom: solid 1em #cccccc;
/* or left for horiz menus */
}

.navMenu li ul {
	display: none;
	position: absolute;
/*	top: 100%;	*/
/*	left: 0;	*/
	margin-left: 3em;	
/*	margin-top: -0.2em;	*/
	font-weight: normal;
/*	padding: 0.5em 0 1em 0;	*/
/*	border-right: solid 1px #333333;	*/

}


.navMenu li>ul {
	top: auto;
	left: auto;
}

.navMenu li li {
	display: block;
	background-color: #cccccc;

/*	float: none; */
/*	background-color: transparent;	*/
}
.navMenu li li.first {
	line-height: 1.25em;
}


.navMenu li:hover ul, li.over ul {
	display: block;
}

