/* CSS Document */

/* generic style specs */

BODY {
 FONT-WEIGHT: normal; 
 FONT-SIZE: 10pt; 
 COLOR: #000000; 
 FONT-FAMILY: Palatino, "Times New Roman", Times, serif; 
 BACKGROUND-COLOR: #ffffff;
}

H1, H2, H3, H4, H5, H6 {
 FONT-WEIGHT: bold;
}

/* show links with URLs */
A { 
 BACKGROUND: #ffffff;
 COLOR: #000000 !important;
 TEXT-DECORATION: underline !important; 
}

BODY, DIV, #header, #footer, #middle {
 WIDTH: auto !important;
 FLOAT: none !important;
}

/* get rid of navigation */
#header {
 DISPLAY: none;
}

/*