<div bgcolor="#FFFFFF" class="Normal">
 <h3 class="Section">
  § 2-600.
  <a name="2-600">
  </a>
  How to Cite Court Rules
  <sup>
   <font size="-1">
    [
    <a href="7-300.htm#7-300_2-600" target="_blank">
     BB
    </a>
    |
    <a href="7-400.htm#7-400_2-600" target="_blank">
     ALWD
    </a>
    ]
   </font>
  </sup>
 </h3>
 <p class="iframe">
  <a name="2-600_frame_1">
  </a>
  <div style="text-align: center;">
   <span class="Examplewindow">
    § 
  2-600 Examples Window
   </span>
  </div>
  <br>
   <div style="text-align: center;">
    <div class="ExampleBox" name="2-600_frame_1">
     <ul>
      <li class="Example">
       Fed. R. Civ. P. 12(b)(6).
      </li>
      <li class="Example">
       Fed. R. Crim. P. 7(b).
      </li>
      <li class="Example">
       Haw. Fam. Ct. R. 106.
      </li>
      <li class="Example">
       N.J. Ct. R. 3:8-3.
      </li>
     </ul>
    </div>
   </div>
   <p class="Text-Level1">
    <span class="principle">
     Principle:
    </span>
    Rules of evidence 
  or procedure are cited by name of the set of rules (beginning with the jurisdiction)
    <div class="container" ng-controller="dynamicExamplesCtrl">
     <span class="example_icon">
      <button class="btn btn-default" ng-click="toggleModal('Success')">
       «e.g.»
      </button>
      <modal visible="showModal">
       <ul>
        <li class="Example">
         <span class="highlight">
          Fed. R. Civ. P.
         </span>
         12(b)(6).
        </li>
        <li class="Example">
         <span class="highlight">
          Fed. R. Crim. P.
         </span>
         7(b).
        </li>
        <li class="Example">
         <span class="highlight">
          Haw. Fam. Ct. R.
         </span>
         106.
        </li>
        <li class="Example">
         <span class="highlight">
          N.J. Ct. R.
         </span>
         3:8-3.
        </li>
       </ul>
      </modal>
     </span>
    </div>
    and the rule number
    <div class="container" ng-controller="dynamicExamplesCtrl">
     <span class="example_icon">
      <button class="btn btn-default" ng-click="toggleModal('Success')">
       «e.g.»
      </button>
      <modal visible="showModal">
       <ul>
        <li class="Example">
         Fed. R. Civ. P.
         <span class="highlight">
          12(b)(6)
         </span>
         .
        </li>
        <li class="Example">
         Fed. R. Crim. P.
         <span class="highlight">
          7(b)
         </span>
         .
        </li>
        <li class="Example">
         Haw. Fam. Ct. R.
         <span class="highlight">
          106
         </span>
         .
        </li>
        <li class="Example">
         N.J. Ct. R.
         <span class="highlight">
          3:8-3
         </span>
         .
        </li>
       </ul>
      </modal>
     </span>
    </div>
    . 
  The name is abbreviated. According to
    <span class="ITALICSORUNDERLINE">
     The 
  Bluebook,
    </span>
    the
    <span class="ITALICSORUNDERLINE">
     ALWD 
  Guide to Legal Citation
    </span>
    , and widespread practice, no date need be included so 
  long as the citation's reference is to the rule currently in effect.
   </p>
   <p>
   </p>
   <p>
   </p>
  </br>
 </p>
</div>
