<div bgcolor="#FFFFFF" class="Normal">
 <h3 class="Section">
  § 4-300.
  <a name="4-300">
  </a>
  Words Omitted in Case Names
  <sup>
   <font size="-1">
    [
    <a href="7-300.htm#7-300_4-300" target="_blank">
     BB
    </a>
    |
    <a href="7-400.htm#7-400_4-300" target="_blank">
     ALWD
    </a>
    ]
   </font>
  </sup>
 </h3>
 <p class="iframe">
  <a name="4-300_frame_1">
  </a>
  <div style="text-align: center;">
   <span class="Examplewindow">
    § 

  4-300(1) Examples Window
   </span>
  </div>
  <br>
   <div style="text-align: center;">
    <div class="ExampleBox" name="4-300_frame_1">
     <ul>
      <li class="Example">
       <span class="ITALICSORUNDERLINE">
        Horn v. New York Times Co.
       </span>
       , 
    100 N.Y.2d 85, 790 N.E.2d 753, 760 N.Y.S.2d 378 (2003).
      </li>
      <ul>
       <li>
        <span class="BOLD">
         not
        </span>
        :
       </li>
      </ul>
      <li class="Example">
       <span class="ITALICSORUNDERLINE">
        Horn v. The New York Times 
    Co.
       </span>
       , 100 N.Y.2d 85, 790 N.E.2d 753, 760 N.Y.S.2d 378 (2003).
      </li>
     </ul>
    </div>
   </div>
   <p class="text-level1">
    <span class="principle">
     <a name="4-300_1">
     </a>
     Principle 1:
    </span>
    Omit "the" when used as the first word of a party name
    <div class="container" ng-controller="dynamicExamplesCtrl">
     <span class="example_icon">
      <button class="btn btn-default" ng-click="toggleModal('Success')">
       «e.g.»
      </button>
      <modal visible="showModal">
       <ul>
        <li class="Example">
         <span class="ITALICSORUNDERLINE">
          Horn v.
          <span class="highlight">
           <s>
            The
           </s>
          </span>
          New York Times Co.
         </span>
         , 100 N.Y.2d 85, 790 N.E.2d 753, 760 N.Y.S.2d 378 (2003).
        </li>
        <li>
         <span class="Example">
          <span class="ITALICSORUNDERLINE">
           Horn v. 
    New York Times Co.
          </span>
          , 100 N.Y.2d 85, 790 N.E.2d 753, 760 N.Y.S.2d 378 (2003).
         </span>
        </li>
       </ul>
      </modal>
     </span>
    </div>
    <p class="text-level2">
     <span class="BOLD">
      except
     </span>
     :
    </p>
    <ul class="text-level3">
     <li>
      when part of name of an object subject to in rem proceeding
      <div class="container" ng-controller="dynamicExamplesCtrl">
       <span class="example_icon">
        <button class="btn btn-default" ng-click="toggleModal('Success')">
         «e.g.»
        </button>
        <modal visible="showModal">
         <ul>
          <li class="Example">
           <span class="ITALICSORUNDERLINE">
            In re
            <span class="highlight">
             The
            </span>
            N.Y. Times,
           </span>
           837 F.2d 599 (2d Cir. 1988).
          </li>
          <ul>
           <li>
            <span class="BOLD">
             not
            </span>
            :
           </li>
          </ul>
          <li class="Example">
           <span class="ITALICSORUNDERLINE">
            In re N.Y. Times,
           </span>
           837 F.2d 599 (2d Cir. 1988).
          </li>
         </ul>
        </modal>
       </span>
      </div>
      <span class="BOLD">
       or
      </span>
     </li>
     <li>
      "The King/Queen"
      <div class="container" ng-controller="dynamicExamplesCtrl">
       <span class="example_icon">
        <button class="btn btn-default" ng-click="toggleModal('Success')">
         «e.g.»
        </button>
        <modal visible="showModal">
         <ul>
          <li class="Example">
           <span class="ITALICSORUNDERLINE">
            Barlow v.
            <span class="highlight">
             The
            </span>
            Queen
           </span>
          </li>
         </ul>
        </modal>
       </span>
      </div>
     </li>
    </ul>
    <p class="iframe">
     <a name="4-300_frame_2">
     </a>
     <div style="text-align: center;">
      <span class="Examplewindow">
       § 

  4-300(2) Examples Window
      </span>
     </div>
     <br>
      <div style="text-align: center;">
       <div class="ExampleBox" name="4-300_frame_2">
        <ul>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Colonial Vill., Ltd. v. Washington 
    Cnty. Bd. of Revision
          </span>
          , 2009 Ohio 4975.
         </li>
         <ul>
          <li>
           <span class="BOLD">
            not
           </span>
           :
          </li>
         </ul>
         <li class="Example">
          <span class="ITALICSORUNDERLINE">
           Colonial Vill., Ltd. v. Washington 
    Cnty. Bd. of Revision, Colonial Terrace Apartments v. Washington County Bd. 
    of Revision, Colonial Terrace Apartments II v. Washington County Bd. of Revision
          </span>
          , 
    2009 Ohio 4975.
         </li>
        </ul>
       </div>
      </div>
      <p class="Text-Level1">
       <span class="principle">
        <a name="4-300_2">
        </a>
        Principle 2:
       </span>
       Omit subsequent actions listed after the first one (when a case consolidates 

  several different actions)
       <div class="container" ng-controller="dynamicExamplesCtrl">
        <span class="example_icon">
         <button class="btn btn-default" ng-click="toggleModal('Success')">
          «e.g.»
         </button>
         <modal visible="showModal">
          <ul>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Colonial Vill., Ltd. v. Washington 
    Cnty. Bd. of Revision
             <span class="highlight">
              <s>
               , Colonial Terrace Apartments 
    v. Washington County Bd. of Revision, Colonial Terrace Apartments II v. Washington 
    County Bd. of Revision
              </s>
             </span>
            </span>
            , 2009 Ohio 4975.
           </li>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Colonial Vill., Ltd. v. Washington 
    Cnty. Bd. of Revision
            </span>
            , 2009 Ohio 4975.
           </li>
          </ul>
         </modal>
        </span>
       </div>
      </p>
      <p class="iframe">
       <a name="4-300_frame_3">
       </a>
       <div style="text-align: center;">
        <span class="Examplewindow">
         § 

  4-300(3) Examples Window
        </span>
       </div>
       <br>
        <div style="text-align: center;">
         <div class="ExampleBox" name="4-300_frame_3">
          <ul>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Buenz v. Frontline Transp. Co.
            </span>
            , 227 Ill. 2d 302, 882 N.E.2d 525 (2008).
           </li>
           <ul>
            <li>
             <span class="BOLD">
              not
             </span>
             :
            </li>
           </ul>
           <li class="Example">
            <span class="ITALICSORUNDERLINE">
             Buenz v. Frontline Transp. Co., China Ocean Shipping Co. Ams.
            </span>
            , 227 Ill. 2d 302, 882 N.E.2d 525 (2008).
           </li>
          </ul>
         </div>
        </div>
        <p class="Text-Level1">
         <span class="principle">
          <a name="4-300_3">
          </a>
          Principle 3:
         </span>
         Omit all parties after the first one listed on each side
         <div class="container" ng-controller="dynamicExamplesCtrl">
          <span class="example_icon">
           <button class="btn btn-default" ng-click="toggleModal('Success')">
            «e.g.»
           </button>
           <modal visible="showModal">
            <ul>
             <li class="Example">
              <span class="ITALICSORUNDERLINE">
               Buenz v. Frontline Transp. Co.
               <s>
                <span class="highlight">
                 , China Ocean Shipping Co. Ams.
                </span>
               </s>
              </span>
              , 227 Ill. 2d 302, 882 N.E.2d 525 (2008)
             </li>
            </ul>
           </modal>
          </span>
         </div>
        </p>
        <p class="iframe">
         <a name="4-300_frame_4">
         </a>
         <div style="text-align: center;">
          <span class="Examplewindow">
           § 

  4-300(4) Examples Window
          </span>
         </div>
         <br>
          <div style="text-align: center;">
           <div class="ExampleBox" name="4-300_frame_4">
            <ul>
             <li class="Example">
              <span class="ITALICSORUNDERLINE">
               In re 123 Court St.
              </span>
              , 
    00 N.Y.S.3d 123 (1999) (fictional citation).
             </li>
             <ul>
              <li>
               <span class="BOLD">
                not
               </span>
               :
              </li>
             </ul>
             <li class="Example">
              <span class="ITALICSORUNDERLINE">
               In re 123 Court St., Ithaca, 
    New York, the Car, and other chattels
              </span>
              , 00 N.Y.S.3d 123 (1999) (fictional 
    citation).
             </li>
            </ul>
           </div>
          </div>
          <p class="Text-Level1">
           <span class="principle">
            <a name="4-300_4">
            </a>
            Principle 4:
           </span>
           In "in rem" cases:
          </p>
          <ul class="Text-Level2">
           <li>
            Omit all items after the first one listed
            <div class="container" ng-controller="dynamicExamplesCtrl">
             <span class="example_icon">
              <button class="btn btn-default" ng-click="toggleModal('Success')">
               «e.g.»
              </button>
              <modal visible="showModal">
               <ul>
                <li class="Example">
                 <span class="ITALICSORUNDERLINE">
                  In re 123 Court St.
                  <s>
                   ,
                   <span class="highlight">
                    Ithaca, New York, the Car, and other chattels
                   </span>
                  </s>
                 </span>
                 , 00 N.Y.S.3d 
    123 (1999) (fictional citation).
                </li>
                <li class="Example">
                 <span class="ITALICSORUNDERLINE">
                  In re 123 Court St.
                 </span>
                 , 
    00 N.Y.S.3d 123 (1999) (fictional citation).
                </li>
               </ul>
              </modal>
             </span>
            </div>
           </li>
           <li>
            Omit all words other than the common street address in "in rem" 

    cases involving real estate
            <div class="container" ng-controller="dynamicExamplesCtrl">
             <span class="example_icon">
              <button class="btn btn-default" ng-click="toggleModal('Success')">
               «e.g.»
              </button>
              <modal visible="showModal">
               <ul>
                <li class="Example">
                 <span class="ITALICSORUNDERLINE">
                  State v.
                  <span class="highlight">
                   <s>
                    Real 
    Property Known as
                   </s>
                  </span>
                  123 Court St.
                  <span class="highlight">
                   <s>
                    , Ithaca, 
    New York
                   </s>
                  </span>
                 </span>
                 , 00 N.Y.S.3d 123 (1999) (fictional citation).
                </li>
                <li class="Example">
                 <span class="ITALICSORUNDERLINE">
                  State v. 123 Court St.
                 </span>
                 , 
    00 N.Y.S.3d 123 (1999) (fictional citation).
                </li>
               </ul>
              </modal>
             </span>
            </div>
           </li>
          </ul>
          <p class="iframe">
           <a name="4-300_frame_5">
           </a>
           <div style="text-align: center;">
            <span class="Examplewindow">
             § 

  4-300(5) Examples Window
            </span>
           </div>
           <br>
            <div style="text-align: center;">
             <div class="ExampleBox" name="4-300_frame_5">
              <ul>
               <li class="Example">
                <span class="ITALICSORUNDERLINE">
                 In re Altman
                </span>
                , 00 N.Y.S.3d 
    123 (1999) (fictional citation).
               </li>
               <ul>
                <li>
                 <span class="BOLD">
                  not
                 </span>
                 :
                </li>
               </ul>
               <li class="Example">
                <span class="ITALICSORUNDERLINE">
                 In re Altman ex rel. Harrison
                </span>
                , 
    00 N.Y.S.3d 123 (1999) (fictional citation).
               </li>
              </ul>
             </div>
            </div>
            <p class="text-level1">
             <span class="principle">
              <a name="4-300_5">
              </a>
              Principle 

  5:
             </span>
             Treat procedural phrases as follows:
            </p>
            <ul class="Text-level2">
             <li>
              Omit all procedural phrases other than the first
              <div class="container" ng-controller="dynamicExamplesCtrl">
               <span class="example_icon">
                <button class="btn btn-default" ng-click="toggleModal('Success')">
                 «e.g.»
                </button>
                <modal visible="showModal">
                 <ul>
                  <li class="Example">
                   <span class="ITALICSORUNDERLINE">
                    In re Altman
                    <span class="highlight">
                     <s>
                      on behalf of Harrison
                     </s>
                    </span>
                   </span>
                   , 00 N.Y.S.3d 123 (1999) (fictional 
    citation).
                  </li>
                  <li class="Example">
                   <span class="ITALICSORUNDERLINE">
                    In re Altman
                   </span>
                   , 00 N.Y.S.3d 
    123 (1999) (fictional citation).
                  </li>
                 </ul>
                </modal>
               </span>
              </div>
             </li>
             <li>
              Reduce all remaining procedural phrases that are roughly equivalent to "on 

    behalf of" or "for the use of" to
              <span class="ITALICSORUNDERLINE">
               ex 

    rel.
              </span>
              <div class="container" ng-controller="dynamicExamplesCtrl">
               <span class="example_icon">
                <button class="btn btn-default" ng-click="toggleModal('Success')">
                 «e.g.»
                </button>
                <modal visible="showModal">
                 <ul>
                  <li class="Example">
                   <span class="ITALICSORUNDERLINE">
                    Vizier ex rel. Prince v. 
    Champion
                   </span>
                   , 00 N.Y.S.3d 123 (1999) (fictional citation).
                  </li>
                  <ul>
                   <li>
                    <span class="BOLD">
                     not
                    </span>
                    :
                   </li>
                  </ul>
                  <li class="Example">
                   <span class="ITALICSORUNDERLINE">
                    Vizier
                    <span class="highlight">
                     on 
    behalf of
                    </span>
                   </span>
                   <span class="ITALICSORUNDERLINE">
                    Prince v. Champion
                   </span>
                   , 
    00 N.Y.S.3d 123 (1999) (fictional citation).
                  </li>
                 </ul>
                </modal>
               </span>
              </div>
             </li>
             <li>
              In adversarial proceedings omit all procedural phrases other than
              <span class="ITALICSORUNDERLINE">
               ex 

    rel.
              </span>
              <div class="container" ng-controller="dynamicExamplesCtrl">
               <span class="example_icon">
                <button class="btn btn-default" ng-click="toggleModal('Success')">
                 «e.g.»
                </button>
                <modal visible="showModal">
                 <ul>
                  <li class="Example">
                   <span class="ITALICSORUNDERLINE">
                    <span class="highlight">
                     <s>
                      In 
    re
                     </s>
                    </span>
                    Thomas ex rel. Baldwin v. Sommers
                   </span>
                   , 00 N.Y.S.3d 123 (1999) 
    (fictional citation).
                  </li>
                  <li class="Example">
                   <span class="ITALICSORUNDERLINE">
                    Thomas ex rel. Baldwin v. 
    Sommers
                   </span>
                   , 00 N.Y.S.3d 123 (1999) (fictional citation).
                  </li>
                 </ul>
                </modal>
               </span>
              </div>
             </li>
             <li>
              Reduce all remaining procedural phrases that are roughly equivalent to "In 

    the matter of," "Petition of," and the like to
              <span class="ITALICSORUNDERLINE">
               In 

    re.
              </span>
              <div class="container" ng-controller="dynamicExamplesCtrl">
               <span class="example_icon">
                <button class="btn btn-default" ng-click="toggleModal('Success')">
                 «e.g.»
                </button>
                <modal visible="showModal">
                 <ul>
                  <li class="Example">
                   <span class="ITALICSORUNDERLINE">
                    In re Anita
                   </span>
                   , 00 N.Y.S.3d 
    123 (1999) (fictional citation).
                  </li>
                  <ul>
                   <li>
                    <span class="BOLD">
                     not
                    </span>
                    :
                   </li>
                  </ul>
                  <li class="Example">
                   <span class="ITALICSORUNDERLINE">
                    <span class="highlight">
                     In 
    the matter of
                    </span>
                    Anita
                   </span>
                   , 00 N.Y.S.3d 123 (1999) (fictional citation).
                  </li>
                 </ul>
                </modal>
               </span>
              </div>
             </li>
            </ul>
            <p class="iframe">
             <a name="4-300_frame_6">
             </a>
             <div style="text-align: center;">
              <span class="Examplewindow">
               § 

  4-300(6) Examples Window
              </span>
             </div>
             <br>
              <div style="text-align: center;">
               <div class="ExampleBox" name="4-300_frame_6">
                <ul>
                 <li class="Example">
                  <span class="ITALICSORUNDERLINE">
                   Smith v. Jones,
                  </span>
                  00 
    N.Y.S.3d 123 (1999) (fictional citation).
                 </li>
                 <ul>
                  <li>
                   <span class="BOLD">
                    not
                   </span>
                   :
                  </li>
                 </ul>
                 <li class="Example">
                  <span class="ITALICSORUNDERLINE">
                   Smith v. Jones, Executor
                  </span>
                  , 
    00 N.Y.S.3d 123 (1999) (fictional citation).
                 </li>
                </ul>
               </div>
              </div>
              <p class="text-level1">
               <span class="principle">
                <a name="4-300_6">
                </a>
                Principle 

  6:
               </span>
               Omit terms like "trustee," "executor," or "administrator" 

  that described a named party
               <div class="container" ng-controller="dynamicExamplesCtrl">
                <span class="example_icon">
                 <button class="btn btn-default" ng-click="toggleModal('Success')">
                  «e.g.»
                 </button>
                 <modal visible="showModal">
                  <ul>
                   <li class="Example">
                    <span class="ITALICSORUNDERLINE">
                     Smith v. Jones
                     <span class="highlight">
                      <s>
                       , 
    Executor
                      </s>
                     </span>
                    </span>
                    , 00 N.Y.S.3d 123 (1999) (fictional citation).
                   </li>
                   <li class="Example">
                    <span class="ITALICSORUNDERLINE">
                     Smith v. Jones,
                    </span>
                    00 
    N.Y.S.3d 123 (1999) (fictional citation).
                   </li>
                  </ul>
                 </modal>
                </span>
               </div>
              </p>
              <p class="iframe">
               <a name="4-300_frame_7">
               </a>
               <div style="text-align: center;">
                <span class="Examplewindow">
                 § 

  4-300(7) Examples Window
                </span>
               </div>
               <br>
                <div style="text-align: center;">
                 <div class="ExampleBox" name="4-300_frame_7">
                  <ul>
                   <li class="Example">
                    <span class="ITALICSORUNDERLINE">
                     Dukakis v. Massachusetts
                    </span>
                    , 
    00 U.S. 123 (1999) (fictional citation).
                   </li>
                   <ul>
                    <li>
                     <span class="BOLD">
                      not
                     </span>
                     :
                    </li>
                   </ul>
                   <li class="Example">
                    <span class="ITALICSORUNDERLINE">
                     Dukakis v. Commonwealth of 
    Massachusetts
                    </span>
                    , 00 U.S. 123 (1999) (fictional citation).
                   </li>
                  </ul>
                 </div>
                </div>
                <p class="Text-Level1">
                 <span class="principle">
                  <a name="4-300_7">
                  </a>
                  Principle 7:
                 </span>
                 Omit "State of" or its equivalents
                 <div class="container" ng-controller="dynamicExamplesCtrl">
                  <span class="example_icon">
                   <button class="btn btn-default" ng-click="toggleModal('Success')">
                    «e.g.»
                   </button>
                   <modal visible="showModal">
                    <ul>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Dukakis v.
                       <span class="highlight">
                        <s>
                         Commonwealth 
    of
                        </s>
                       </span>
                       Massachusetts
                      </span>
                      , 00 U.S. 123 (1999) (fictional citation).
                     </li>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Dukakis v. Massachusetts
                      </span>
                      , 
    00 U.S. 123 (1999) (fictional citation).
                     </li>
                    </ul>
                   </modal>
                  </span>
                 </div>
                </p>
                <p class="Text-Level2">
                 <span class="BOLD">
                  except
                 </span>
                 : when citing decisions of 

  the courts of the state in question, in which case omit the name of the state 

  instead and keep "State" or the equivalent term
                 <div class="container" ng-controller="dynamicExamplesCtrl">
                  <span class="example_icon">
                   <button class="btn btn-default" ng-click="toggleModal('Success')">
                    «e.g.»
                   </button>
                   <modal visible="showModal">
                    <ul>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Dukakis v. Commonwealth
                      </span>
                      , 
    00 Mass. 123, 00 N.E.2d 123 (1999) (fictional citation).
                     </li>
                     <ul>
                      <li>
                       <span class="BOLD">
                        not
                       </span>
                       :
                      </li>
                     </ul>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Dukakis v.
                       <span class="highlight">
                        Massachusetts
                       </span>
                      </span>
                      , 
    00
                      <span class="highlight">
                       Mass
                      </span>
                      . 123, 00 N.E.2d 123 (1999) (fictional 
    citation).
                     </li>
                    </ul>
                   </modal>
                  </span>
                 </div>
                </p>
                <p class="iframe">
                 <a name="4-300_frame_8">
                 </a>
                 <div style="text-align: center;">
                  <span class="Examplewindow">
                   § 

  4-300(8) Examples Window
                  </span>
                 </div>
                 <br>
                  <div style="text-align: center;">
                   <div class="ExampleBox" name="4-300_frame_8">
                    <ul>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Angelo v. Common Council 
    of Syracuse
                      </span>
                      , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional 
    citation).
                     </li>
                     <ul>
                      <li>
                       <span class="BOLD">
                        not
                       </span>
                       :
                      </li>
                     </ul>
                     <li class="Example">
                      <span class="ITALICSORUNDERLINE">
                       Angelo v. Common Council 
    of City of Syracuse
                      </span>
                      , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 
    (1999) (fictional citation).
                     </li>
                    </ul>
                   </div>
                  </div>
                  <p class="Text-Level1">
                   <span class="principle">
                    <a name="4-300_8">
                    </a>
                    Principle 8:
                   </span>
                   Omit "City of" or its equivalents
                   <div class="container" ng-controller="dynamicExamplesCtrl">
                    <span class="example_icon">
                     <button class="btn btn-default" ng-click="toggleModal('Success')">
                      «e.g.»
                     </button>
                     <modal visible="showModal">
                      <ul>
                       <li class="Example">
                        <span class="ITALICSORUNDERLINE">
                         Angelo v. Common Council 
    of
                         <span class="highlight">
                          <s>
                           City of
                          </s>
                         </span>
                         Syracuse
                        </span>
                        , 00 N.Y.3d 
    123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                       </li>
                       <li class="Example">
                        <span class="ITALICSORUNDERLINE">
                         Angelo v. Common Council 
    of Syracuse
                        </span>
                        , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional 
    citation).
                       </li>
                      </ul>
                     </modal>
                    </span>
                   </div>
                  </p>
                  <p class="Text-Level2">
                   <span class="BOLD">
                    except
                   </span>
                   : when the phrase begins a 

  party name
                   <div class="container" ng-controller="dynamicExamplesCtrl">
                    <span class="example_icon">
                     <button class="btn btn-default" ng-click="toggleModal('Success')">
                      «e.g.»
                     </button>
                     <modal visible="showModal">
                      <ul>
                       <li class="Example">
                        <span class="ITALICSORUNDERLINE">
                         Tarson v.
                         <span class="highlight">
                          City 
    of
                         </span>
                         Syracuse Dept. of Pub. Works
                        </span>
                        , 00 N.Y.3d 123, 00 N.E.2d 123, 
    00 N.Y.S.2d 123 (1999) (fictional citation).
                       </li>
                       <ul>
                        <li>
                         <span class="BOLD">
                          not
                         </span>
                         :
                        </li>
                       </ul>
                       <li class="Example">
                        <span class="ITALICSORUNDERLINE">
                         Tarson v. Syracuse Dept. 
    of Pub. Works
                        </span>
                        , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) 
    (fictional citation).
                       </li>
                      </ul>
                     </modal>
                    </span>
                   </div>
                  </p>
                  <p class="iframe">
                   <a name="4-300_frame_9">
                   </a>
                   <div style="text-align: center;">
                    <span class="Examplewindow">
                     § 

  4-300(9) Examples Window
                    </span>
                   </div>
                   <br>
                    <div style="text-align: center;">
                     <div class="ExampleBox" name="4-300_frame_9">
                      <ul>
                       <li class="Example">
                        <span class="ITALICSORUNDERLINE">
                         Glen v. Sewer Dist.
                        </span>
                        , 
    00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                       </li>
                       <ul>
                        <li>
                         <span class="BOLD">
                          not
                         </span>
                         :
                        </li>
                       </ul>
                       <li class="Example">
                        <span class="ITALICSORUNDERLINE">
                         Glen v. Sewer District of 
    East Lansing
                        </span>
                        , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) 
    (fictional citation).
                       </li>
                      </ul>
                     </div>
                    </div>
                    <p class="Text-Level1">
                     <span class="principle">
                      <a name="4-300_9">
                      </a>
                      Principle 9:
                     </span>
                     Omit all locational phrases
                     <div class="container" ng-controller="dynamicExamplesCtrl">
                      <span class="example_icon">
                       <button class="btn btn-default" ng-click="toggleModal('Success')">
                        «e.g.»
                       </button>
                       <modal visible="showModal">
                        <ul>
                         <li class="Example">
                          <span class="ITALICSORUNDERLINE">
                           Glen v. Sewer District
                           <span class="highlight">
                            <s>
                             of East Lansing
                            </s>
                           </span>
                          </span>
                          , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 
    123 (1999) (fictional citation).
                         </li>
                         <li class="Example">
                          <span class="ITALICSORUNDERLINE">
                           Glen v. Sewer Dist.
                          </span>
                          , 
    00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                         </li>
                        </ul>
                       </modal>
                      </span>
                     </div>
                    </p>
                    <p class="Text-Level2">
                     <span class="BOLD">
                      except:
                     </span>
                    </p>
                    <ul class="Text-Level3">
                     <li>
                      those left following application of the the prior rule about "City 

    of"
                      <span class="BOLD">
                       or
                      </span>
                     </li>
                     <li>
                      when the omission would leave only one word in the name
                     </li>
                    </ul>
                    <p class="iframe">
                     <a name="4-300_frame_10">
                     </a>
                     <div style="text-align: center;">
                      <span class="Examplewindow">
                       § 

  4-300(10) Examples Window
                      </span>
                     </div>
                     <br>
                      <div style="text-align: center;">
                       <div class="ExampleBox" name="4-300_frame_10">
                        <ul>
                         <li class="Example">
                          <span class="ITALICSORUNDERLINE">
                           Ivan v. United States
                          </span>
                          , 
    00 U.S. 123 (1999) (fictional citation).
                         </li>
                         <ul>
                          <li>
                           <span class="BOLD">
                            not
                           </span>
                           :
                          </li>
                         </ul>
                         <li class="Example">
                          <span class="ITALICSORUNDERLINE">
                           Ivan v. U.S.
                          </span>
                          , 00 U.S. 
    123 (1999) (fictional citation).
                          <br>
                           -
                           <b>
                            or -
                           </b>
                          </br>
                         </li>
                         <li class="Example">
                          <span class="ITALICSORUNDERLINE">
                           Ivan v. United States of 
    America
                          </span>
                          , 00 U.S. 123 (1999) (fictional citation).
                         </li>
                        </ul>
                       </div>
                      </div>
                      <p class="Text-Level1">
                       <span class="principle">
                        <a name="4-300_10">
                        </a>
                        Principle 

  10:
                       </span>
                       Omit "of America" after "United States"
                       <div class="container" ng-controller="dynamicExamplesCtrl">
                        <span class="example_icon">
                         <button class="btn btn-default" ng-click="toggleModal('Success')">
                          «e.g.»
                         </button>
                         <modal visible="showModal">
                          <ul>
                           <li class="Example">
                            <span class="ITALICSORUNDERLINE">
                             Ivan v. United States
                            </span>
                            , 
    00 U.S. 123 (1999) (fictional citation).
                           </li>
                           <ul>
                            <li>
                             <span class="BOLD">
                              not
                             </span>
                             :
                            </li>
                           </ul>
                           <li class="Example">
                            <span class="ITALICSORUNDERLINE">
                             Ivan v.
                             <span class="highlight">
                              U.S.
                             </span>
                            </span>
                            , 
    00 U.S. 123 (1999) (fictional citation).
                            <br>
                             -
                             <b>
                              or -
                             </b>
                            </br>
                           </li>
                           <li class="Example">
                            <span class="ITALICSORUNDERLINE">
                             Ivan v. United States
                             <span class="highlight">
                              of America
                             </span>
                            </span>
                            , 00 U.S. 123 (1999) (fictional citation).
                           </li>
                          </ul>
                         </modal>
                        </span>
                       </div>
                      </p>
                      <p class="iframe">
                       <a name="4-300_frame_11">
                       </a>
                       <div style="text-align: center;">
                        <span class="Examplewindow">
                         § 

  4-300(11) Examples Window
                        </span>
                       </div>
                       <br>
                        <div style="text-align: center;">
                         <div class="ExampleBox" name="4-300_frame_11">
                          <ul>
                           <li class="Example">
                            <span class="ITALICSORUNDERLINE">
                             Smith v. Jones
                            </span>
                            , 00 
    N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                           </li>
                           <ul>
                            <li>
                             <span class="BOLD">
                              not
                             </span>
                             :
                            </li>
                           </ul>
                           <li class="Example">
                            <span class="ITALICSORUNDERLINE">
                             Smith v. Jenny Q. Jones
                            </span>
                            , 
    00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                           </li>
                          </ul>
                         </div>
                        </div>
                        <p class="Text-Level1">
                         <span class="principle">
                          <a name="4-300_11">
                          </a>
                          Principle 

  11:
                         </span>
                         Omit first and middle names or initials of individuals
                         <div class="container" ng-controller="dynamicExamplesCtrl">
                          <span class="example_icon">
                           <button class="btn btn-default" ng-click="toggleModal('Success')">
                            «e.g.»
                           </button>
                           <modal visible="showModal">
                            <ul>
                             <li class="Example">
                              <span class="ITALICSORUNDERLINE">
                               Smith v.
                               <span class="highlight">
                                <s>
                                 Jenny 
    Q.
                                </s>
                               </span>
                               Jones
                              </span>
                              , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 
    (1999) (fictional citation).
                             </li>
                             <li class="Example">
                              <span class="ITALICSORUNDERLINE">
                               Smith v. Jones
                              </span>
                              , 00 
    N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                             </li>
                            </ul>
                           </modal>
                          </span>
                         </div>
                        </p>
                        <p class="Text-Level2">
                         <span class="BOLD">
                          except
                         </span>
                         :
                        </p>
                        <ul class="Text-Level3">
                         <li>
                          when included in the name of a business
                          <div class="container" ng-controller="dynamicExamplesCtrl">
                           <span class="example_icon">
                            <button class="btn btn-default" ng-click="toggleModal('Success')">
                             «e.g.»
                            </button>
                            <modal visible="showModal">
                             <ul>
                              <li class="Example">
                               <span class="ITALICSORUNDERLINE">
                                Smith v. Jenny Q. Jones, 
    Inc.
                               </span>
                               , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional 
    citation).
                              </li>
                              <ul>
                               <li>
                                <span class="BOLD">
                                 not
                                </span>
                                :
                               </li>
                              </ul>
                              <li class="Example">
                               <span class="ITALICSORUNDERLINE">
                                Smith v. Jones
                                <span class="highlight">
                                 , 
    Inc.
                                </span>
                               </span>
                               , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional 
    citation).
                              </li>
                             </ul>
                            </modal>
                           </span>
                          </div>
                         </li>
                         <li>
                          when the party's surname is abbreviated
                          <div class="container" ng-controller="dynamicExamplesCtrl">
                           <span class="example_icon">
                            <button class="btn btn-default" ng-click="toggleModal('Success')">
                             «e.g.»
                            </button>
                            <modal visible="showModal">
                             <ul>
                              <li class="Example">
                               <span class="ITALICSORUNDERLINE">
                                In re Anita Q.
                               </span>
                               , 00 
    N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                              </li>
                              <ul>
                               <li>
                                <span class="BOLD">
                                 not
                                </span>
                                :
                               </li>
                              </ul>
                              <li class="Example">
                               <span class="ITALICSORUNDERLINE">
                                In re
                                <span class="highlight">
                                 Q.
                                </span>
                               </span>
                               , 
    00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                              </li>
                             </ul>
                            </modal>
                           </span>
                          </div>
                         </li>
                         <li>
                          when the party's given name follows the surname (as is true of Chinese, 

    Korean and Vietnamese names, for example)
                          <div class="container" ng-controller="dynamicExamplesCtrl">
                           <span class="example_icon">
                            <button class="btn btn-default" ng-click="toggleModal('Success')">
                             «e.g.»
                            </button>
                            <modal visible="showModal">
                             <ul>
                              <li class="Example">
                               <span class="ITALICSORUNDERLINE">
                                Smith v. Chun Quon
                               </span>
                               , 
    00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                              </li>
                              <ul>
                               <li>
                                <span class="BOLD">
                                 not
                                </span>
                                :
                               </li>
                              </ul>
                              <li class="Example">
                               <span class="ITALICSORUNDERLINE">
                                In Smith v. Chun
                               </span>
                               , 
    00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                               <br>
                                <b>
                                 - or -
                                </b>
                               </br>
                              </li>
                              <li class="Example">
                               <span class="ITALICSORUNDERLINE">
                                Smith v. Quon
                               </span>
                               , 00 
    N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                              </li>
                             </ul>
                            </modal>
                           </span>
                          </div>
                         </li>
                        </ul>
                        <p class="iframe">
                         <a name="4-300_frame_12">
                         </a>
                         <div style="text-align: center;">
                          <span class="Examplewindow">
                           § 

  4-300(12) Examples Window
                          </span>
                         </div>
                         <br>
                          <div style="text-align: center;">
                           <div class="ExampleBox" name="4-300_frame_12">
                            <ul>
                             <li class="Example">
                              <span class="ITALICSORUNDERLINE">
                               Werner v. Tarson Pools Co.
                              </span>
                              , 
    00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                             </li>
                             <ul>
                              <li>
                               <span class="BOLD">
                                not
                               </span>
                               :
                              </li>
                             </ul>
                             <li class="Example">
                              <span class="ITALICSORUNDERLINE">
                               Werner v. Tarson Pools Co., 
    Ltd.
                              </span>
                              , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional 
    citation).
                             </li>
                            </ul>
                           </div>
                          </div>
                          <p class="Text-Level1">
                           <span class="principle">
                            <a name="4-300_12">
                            </a>
                            Principle 

  12:
                           </span>
                           Omit "Inc.," "Ltd.," "N.A.," or "F.S.B.," 

  and similar terms if the name also contains words like "Co.," "Corp.," 

  "R.R.," "Bros.," or "Ass'n" that indicate a business 

  firm.
                           <div class="container" ng-controller="dynamicExamplesCtrl">
                            <span class="example_icon">
                             <button class="btn btn-default" ng-click="toggleModal('Success')">
                              «e.g.»
                             </button>
                             <modal visible="showModal">
                              <ul>
                               <li class="Example">
                                <span class="ITALICSORUNDERLINE">
                                 Werner v. Tarson Pools Co.
                                 <span class="highlight">
                                  <s>
                                   , 
    Ltd.
                                  </s>
                                 </span>
                                </span>
                                , 00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) 
    (fictional citation).
                               </li>
                               <li class="Example">
                                <span class="ITALICSORUNDERLINE">
                                 Werner v. Tarson Pools Co.
                                </span>
                                , 
    00 N.Y.3d 123, 00 N.E.2d 123, 00 N.Y.S.2d 123 (1999) (fictional citation).
                               </li>
                              </ul>
                             </modal>
                            </span>
                           </div>
                          </p>
                          <p class="Text-Level1">
                          </p>
                         </br>
                        </p>
                       </br>
                      </p>
                     </br>
                    </p>
                   </br>
                  </p>
                 </br>
                </p>
               </br>
              </p>
             </br>
            </p>
           </br>
          </p>
         </br>
        </p>
       </br>
      </p>
     </br>
    </p>
   </p>
  </br>
 </p>
</div>
