<html>
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
   Basic Legal Citation: &sect; 2-500 (2014)
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="citation.css" />
 </head>
 <body bgcolor="#FFFFFF" class="Normal">
  <table width="100%" border="0">
   <tr bgcolor="#CCCCCC">
    <td height="41">
     <div align="right">
      <font size="-1" face="Arial, Helvetica, sans-serif">
       <a href="index.htm" target="_top">
        Home
       </a>
       |
       <a href="full_toc.htm#2-500" target="_self">
        Contents
       </a>
       |
       <a href="topics.htm" target="_self">
        Index
       </a>
       |
       <a href="help.htm" target="_blank">
        Help
       </a>
       |
       <a href="2-500.htm" target="_blank">
        Remove frame
       </a>
       |
       <a href="2-400.htm" target="_self">
        &lt;
       </a>
       |
       <a href="2-600.htm" target="_self">
        &gt;
       </a>
       &nbsp;&nbsp;
      </font>
     </div>
    </td>
   </tr>
  </table>
  <h3 class="Section">
   &sect; 2-500.
   <a name="2-500">
   </a>
   How to Cite Arbitration Decisions
   <sup>
    <font size="-1">
     [
     <a href="7-300.htm#7-300_2-500" target="_blank">
      BB
     </a>
     |
     <a href="7-400.htm#7-400_2-500" target="_blank">
      ALWD
     </a>
     ]
    </font>
   </sup>
  </h3>
  <p class="iframe">
   <a name="2-500_frame_1">
   </a>
   <span class="Examplewindow">
    &sect; 
  2-500 Examples Window (
    <a href="2-500_ex0.htm" target="2-500_frame_1">
     restore
    </a>
    )
   </span>
   <br />
   <iframe src="2-500_ex0.htm" name="2-500_frame_1" width="600" height="120" frameborder="10">
   </iframe>
  </p>
  <p class="Text-Level1">
   <span class="principle">
    <a name="2-500_1">
    </a>
    Principle 1:
   </span>
   Citations to arbitration decisions or awards take the same form as court cases 
  if the adversarial parties are named.
   <span class="ITALICSORUNDERLINE">
    See
   </span>
   <a href="2-200.htm#2-210" target="_self">
    &sect; 2-210
   </a>
   .
  </p>
  <p class="Text-Level1">
   <span class="principle">
    <a name="2-500_2">
    </a>
    Principle 2:
   </span>
   Citations to arbitration decisions or awards take the same form as administrative 
  adjudications if the adversarial parties are not named
   <span class="example_icon">
    <a href="#" ng-model="example90" ng-click="example90 = !example90">
     &laquo;e.g.&raquo;
    </a>
    <ul ng-show="example90" class="text-level2">
     <li class="Example">
      <span class="highlight">
       United States - Tax Treatment for 
    &quot;Foreign Sales Corporations,&quot; World Trade Organization No. 108 (Aug. 
    30, 2002)
      </span>
      (Falconer, Chambovey &amp; Seung Wha Chang, Arbs.).
     </li>
    </ul>
   </span>
   .
   <span class="ITALICSORUNDERLINE">
    See
   </span>
   <a href="2-400.htm#2-450" target="_self">
    &sect; 
  2-450
   </a>
   .
  </p>
  <p class="Text-Level1">
   <span class="principle">
    <a name="2-500_3">
    </a>
    Principle 3:
   </span>
   In either case the citation should include one additional information item &#150; 
  the arbitrator's last name &#150; in parentheses at the end of the citation
   <span class="example_icon">
    <a href="#" ng-model="example91" ng-click="example91 = !example91">
     &laquo;e.g.&raquo;
    </a>
    <ul ng-show="example91" class="text-level2">
     <li class="Example">
      United States - Tax Treatment for &quot;Foreign Sales Corporations,&quot; 
    World Trade Organization No. 108 (Aug. 30, 2002)
      <span class="highlight">
       (Falconer, 
    Chambovey &amp; Seung Wha Chang, Arbs.)
      </span>
      .
     </li>
    </ul>
   </span>
   .
  </p>
  <table width="100%" border="0">
   <tr bgcolor="#CCCCCC">
    <td>
     <div align="right">
      <font size="-1" face="Arial, Helvetica, sans-serif">
       <a href="index.htm" target="_top">
        Home
       </a>
       |
       <a href="full_toc.htm#2-500" target="_self">
        Contents
       </a>
       |
       <a href="topics.htm" target="_self">
        Index
       </a>
       |
       <a href="help.htm" target="_blank">
        Help
       </a>
       |
       <a href="2-500.htm" target="_blank">
        Remove frame
       </a>
       |
       <a href="2-400.htm" target="_self">
        &lt;
       </a>
       |
       <a href="2-600.htm" target="_self">
        &gt;
       </a>
       &nbsp;&nbsp;
      </font>
     </div>
    </td>
   </tr>
  </table>
  <p class="Text-Level1">
   &nbsp;
  </p>
 </body>
</html>
