.Normal	{font-size:9pt; font-family:Arial;	color:black;}
a:link        {color: blue; background: #FFFFCC; text-decoration: none}
a:visited     {color: blue; background: #FFFFCC; text-decoration: none}
a:active      {color: blue; background: #FFFFCC; text-decoration: none}
A:hover       {color: blue; background: yellow; text-decoration: underline} 
