/* css stylesheet for Supreme Court collection */

@import url("/css/lii20.css"); 
/*tmp two-column*/


/* Nav link style imported from lii.css */
/* remove when early 1990s html is better */
P U { 
 text-decoration: none;
 font-style: italic;
}
/* remove when early 1990s html is better */
P.bodytext B {
 font-weight: normal;
}

/* remove when we fix the softbreak problem -ssf */
SPAN.softbreak {
 MARGIN-LEFT: 0.25em;
 MARGIN-RIGHT: 0.25em;
}
/* end softbreak fix */

BODY.preview DIV#collection-head A#previewslink {
 font-weight: bold;
}

DIV.portrait, H2.portrait {
 TEXT-ALIGN: center;
 MARGIN-LEFT: auto;
 MARGIN-RIGHT: auto;
}

DIV.biopic {
 TEXT-ALIGN: center;
 MARGIN-LEFT: auto;
 MARGIN-RIGHT: auto;
}

LI SPAN.AlwaysChoose { 
 FONT-SIZE: 0.8em; 
}

/* generic HRs */
HR {
 WIDTH: 20%;
 MARGIN-LEFT: auto;
 MARGIN-RIGHT: auto;
}

/* ie hack for HRs -- don't ask */
* HTML HR
{
 TEXT-ALIGN: center;
}

/* footnote flags */
A.fnflag {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 FONT-SIZE: /* 8pt;	*/ 0.8em;
 FONT-WEIGHT: bold;
 VERTICAL-ALIGN: super;
}

/* heading styles */

/* dateline from order list */
H2.orderdate, DIV.orderdate { 
 TEXT-ALIGN: center;  
}

/* Notes heading above footnotes */
H2.fnheader {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 10%;
}

/* action heading from order list */
H3.action {
 TEXT-ALIGN: center;
}

/* case name heading */
H3.sylcta { 
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 TEXT-ALIGN: center;
 FONT-WEIGHT: bold;		 
}

/* court-below paragraph */
H4.sylctb {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 TEXT-ALIGN: center;
 FONT-VARIANT: small-caps; 		 
}

/* paragraph styles */

DIV.opiniondates {
  TEXT-ALIGN: center;
}

/* action paragraph in order list */
P.actpara {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 15%;
 MARGIN-RIGHT: 15%;
}

P.blockquote {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 15%;
 MARGIN-RIGHT: 15%;
}

P.bodytext, P.CASCTG-right {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 10%;
 MARGIN-RIGHT: 10%;
}
P.CASCTG-right {
  FONT-STYLE: italic;
}

P.cascta, P.CASCTA {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 10%;
 FONT-WEIGHT: bold;
}

P.docket {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 TEXT-ALIGN: center;
 FONT-WEIGHT: bold;
 FONT-SIZE: /* 12pt; */ 1.2em;
}

P.footnote {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 10%;
 MARGIN-RIGHT: 10%;
}

P.nameplate, DIV.nameplate {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 TEXT-ALIGN: center;
 FONT-SIZE: /* 16pt; */ 1.6em;
}

/* clerk's disclaimer */
P.notice {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 25%;
 MARGIN-RIGHT: 25%;
 FONT-SIZE: /* 8pt; */ 0.8em;
 FONT-STYLE: italic;
}

/* section headings in opinion text -- not clear */
P.opcentered {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 TEXT-ALIGN: center;
 FONT-SIZE: /* 14pt; */ 1.4em;
}

/* this is not actually the disposition;
   it's the author name in opinion documents
*/
P.opintag {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 TEXT-ALIGN: center;
 FONT-SIZE: /* 14pt; */ 1.4em;
}

/* navigation link in per-curiam opinions */
P.pcnavtable {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 WIDTH: 20%;
}

/* date argued -- date decided in opinion, not syllabus */
P.sylctc, DIV.syltc, P.SYLCTC, DIV.SYLCTC {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 TEXT-ALIGN: center;
 MARGIN-LEFT: auto;
 MARGIN-RIGHT: auto;
}

/* stuff in sylctd style seems to be summary of "story so far" at top of case */
P.sylctd, P.SYLCTD {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 10%;
 MARGIN-RIGHT: 10%; 
}

/* this is the holding */
P.sylcte, P.SYLCTE {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 10%;
 MARGIN-RIGHT: 10%; 
}

P.sylctf, P.SYLCTF {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 10%;
 MARGIN-RIGHT: 10%;  
}

P.sylctg, P.SYLCTG {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 10%;
 MARGIN-RIGHT: 10%;
 FONT-WEIGHT: bold;
  
}
P.sylcth, P.SYLCTH {
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 MARGIN-LEFT: 10%;
 MARGIN-RIGHT: 10%;
 FONT-STYLE: italic;
}

/* one line of an order list? */
SPAN.caseline, SPAN.CASELINE { 
 FONT-FAMILY: "Trebuchet MS", Palatino, "Times New Roman", Times, serif;   
 FONT-WEIGHT: bolder;
 MARGIN-LEFT: 10%;
 MARGIN-RIGHT: 10%;
}

DIV.headline, DIV.HEADLINE { 
 text-align: center 
}

DIV.actionhead, DIV.ACTIONHEAD { 
 text-align: center;
 LINE-HEIGHT: 2em;
 FONT-SIZE: 1.2em;
}

DIV.order, DIV.ORDER { 
 MAX-WIDTH: 40em;
 MARGIN: 1em auto;
}

* HTML DIV.order, * HTML DIV.ORDER {
 WIDTH: 580px;
 MARGIN: auto;
}

DIV.order DIV.dnmergedcase {
 TEXT-INDENT: 3em;
}

DIV.dncaseline { 

}

SPAN.docketnum { 
 POSITION: absolute;
 DISPLAY: block;
 WIDTH: 6em;
 MARGIN-LEFT: -6em;
 MARGIN-RIGHT: 0.9em;
}

SPAN.casename { 
}
SPAN.withext {
 FONT-STYLE: italic;	
}

DIV.action, DIV.ACTION {
 MAX-WIDTH: 40em;
 PADDING-BOTTOM: 1em;
 MARGIN-LEFT: auto;
 MARGIN-RIGHT: auto;
}

* HTML DIV.action, * HTML DIV.ACTION {
 WIDTH: 580px;
 MARGIN: auto;	
}
/* everything related to the navigation table-scoreboard */
TABLE.sb, TABLE.SB {
 MARGIN-LEFT: 10%;
 MARGIN-RIGHT: 10%;
 MARGIN-TOP: 10px;
 WIDTH: 80%;
 BORDER-COLOR: black;
 BORDER-STYLE: solid;
 BORDER-WIDTH: 1px;
 TEXT-ALIGN: center;
 FONT-FAMILY: Verdana, Helvetica, sans-serif;
}

/* header containing case name etc. */
BODY DIV#middle DIV.breathe TH.sbcasename, BODY DIV#middle DIV.breathe TH.SBCASENAME, BODY DIV#middle DIV.breathe TH.sblabels, BODY DIV#middle DIV.breathe TH.SBLABELS {
 BACKGROUND: white;
 TEXT-ALIGN: center;
}

TD.sblabels, TD.SBLABELS {
 FONT-SIZE: 8pt;
 BACKGROUND: #AAAACC;
 BORDER-COLOR: black;
 BORDER-STYLE: solid;
 BORDER-WIDTH: 1px;
 BORDER-SPACING: 0px;
 PADDING: 5px;
 BORDER-COLLAPSE: collapse;
}

TD.sbrefs, TD.SBREFS {
 FONT-SIZE: /* 8pt;	*/ 0.8em;
 BACKGROUND: #CCCCCC;
 BORDER-COLOR: black;
 BORDER-STYLE: solid;
 BORDER-SPACING: 0px;
 PADDING: 5px;
 BORDER-WIDTH: 1px;
 BORDER-COLLAPSE: collapse;  
}

/* for revised tables? */
TABLE.sb, TABLE.authors, TABLE.SB, TABLE.AUTHORS {
 BORDER: none;
 BORDER-TOP: solid 2px #ccc;
 BORDER-BOTTOM: solid 2px #ccc;
 BORDER-COLLAPSE: collapse;
}

TABLE.authors TD, TABLE.authors CAPTION, TABLE.authors TH {
 PADDING: 0.5em;
}

TABLE.authors, TABLE.authors CAPTION  {
 MARGIN-LEFT: auto;
 MARGIN-RIGHT: auto;
}

TABLE.authors CAPTION {
 FONT-SIZE: 1.1em;
}

TABLE.authors CAPTION, TABLE.authors TH
 {
 FONT-WEIGHT: bold;
 TEXT-ALIGN: left;
}

TABLE.authors TD {
 BACKGROUND: #f0f0f0;
 BORDER-BOTTOM: solid 1px #fff;
}

CAPTION.sbcasename {
 BACKGROUND: white;
}
BODY DIV#middle DIV.breathe TR TH.sblabels {
 PADDING-TOP: 5px;
 PADDING-BOTTOM: 5px;
 border-bottom: solid #ccc 1px;
}
TD.sbrefs {
 BORDER: none;
 PADDING-TOP: 5px;
 PADDING-BOTTOM: 5px;
 BACKGROUND: #fff;
}

/* from supctHome.css */

H5 { 
	MARGIN: 5px 0px 5px 15px; 
	FONT-SIZE: /* 10pt; */ 1em; 
	FONT-WEIGHT: bold;	
}

H6 { 
	MARGIN: 10px; 
	FONT-SIZE: /* 10pt; */ 1em; 	
}

DL>DD { 
 MARGIN-LEFT: 25px; 
}

			

#menu LI { 
 LIST-STYLE-POSITION: outside; 
 FONT-SIZE: /* 10pt; */ 1em; 
}

#menu LI UL>LI { 
 FONT-SIZE: /* 9pt; */ 0.9em; 
}

